<div id="10codesModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal" aria-hidden="true">X</button>
          <h4>10-Codes</h4>
          <hr style="width: 88%;max-width: 100rem;">
          <div class="row">
            <div class="col-md-4">
              Signal 100 - HOLD ALL BUT EMERGENCY<br />
              Signal 60 - Drugs<br />
              Signal 41 - Log on to MDT<br />
              Signal 42 - Log out of MDT<br />
              Signal 37 - Meet @ ...<br />
              Code 4 - Under Control<br />
              Code 5 - Felony Stop/High Risk Stop<br />
              10-0 - Disappeared<br />
              10-1 - Frequency Change<br />
              10-2 - Radio Check Loud and Clear<br />
              10-3 - Stop Transmitting<br />
              10-4 - Affirmative<br />
              10-6 - Busy<br />
              10-7 - Out of Service<br />
              10-8 - In Service<br />
              10-9 - Repeat Last Transmission<br />
              10-10 - Fight in Progress<br />
              10-11 - Traffic Stop<br />
              10-12 - Active Ride Along<br />
              10-13 - Shots Fired<br />
              10-15 - Subject in Custody<br />
              10-16 - Stolen Vehicle<br />
              10-17 - Suspicious Person<br />
              10-19 - Return to Station<br />
              10-20 - Location<br />
              10-21 - Contact via Discord/Text<br />
              10-22 - Disregard<br />
              10-23 - Arrived on Scene<br />
              10-25 - Domestic Dispute<br />
              10-26 - ETA<br />
              10-27 - Name Check<br />
              10-28 - Plate Check<br />
              10-29 - Warrant Check <br />
              10-30 - Wanted Person
            </div>
            <div class="col-md-4">
              10-31 - Not Wanted, No Warrants<br />
              10-32 - Request Backup (Code 1-2-3)<br />
              10-41 - Beginning Tour of Duty<br />
              10-42 - Ending Tour of Duty<br />
              10-43 - Information<br />
              10-49 - Homicide<br />
              10-50 - Vehicle Accident<br />
              PD: Property Damage Only<br />
              PI: Persons Injured<br />
              F: Fatal<br />
              10-51 - Request Towing Service<br />
              10-52 - Request EMS<br />
              10-53 - Request Fire Department<br />
              10-55 - Intoxicated Driver<br />
              10-56 - Suicide<br/>
              10-56A - Suicide Attempt<br/>
              10-60 - Armed with a Gun<br />
              10-61 - Armed with a Knife<br />
              10-62 - Kidnapping<br />
              10-64 - Sexual Assualt<br />
              10-65 - Escorting Prisoner<br />
              10-66 - Reckless Driver<br />
              10-67 - Active Fire<br />
              10-68 - Armed Robbery<br />
              10-70 - Foot Pursuit<br />
              10-71 - Request Supervisor at Scene<br />
              10-73 - Advise Status or Scene Update<br />
              10-80 - Vehicle Pursuit<br />
              10-90 - In Game Warning<br />
              10-93 - Removed From Game<br />
              10-97 - In Route<br />
              10-99 - Officer in Distress Extreme Emergeny Only<br />
              11-44 Person Deceased
            </div>
            <div class="col-md-4">
              <b><u> Police, Fire & Rescue Signals</u></b><br />
              <b>Code 1</b> - No lights or siren, follow all traffic rules - No Urgency at all.<br />
              <b>Code 2</b> - Lights or siren limited use to respond to a scene - Urgent but not severe.<br />
              <b>Code 3</b> - Lights and sirens full use to respond quickly - Urgent.<br />
              <b>Code Blue</b> - Lost pulse (Start CPR).<br />
              <b>Code Red</b> - Activate trauma code (5 minute timer).<br />
              <b>Priority 1</b> - Highest priority transport.<br />
              <b>Priority 2</b> - Medium priority transport.<br />
              <b>Priority 3</b> - Low priority transport (Routine).
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>