<div
  id="10codesModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button
          class="btn btn-primary btn-md float-right"
          type="button"
          data-dismiss="modal"
          aria-hidden="true"
        >
          X
        </button>
        <h4>10-Codes</h4>
        <hr style="width: 88%; max-width: 100rem" />
        <div
          id="noTenCodesModal"
          class="alert alert-info"
          style="display: none"
        >
          No 10-codes available for this community.
        </div>
        <div class="row" id="tenCodesContent" style="display: none">
          <div class="col-md-4" id="tenCodesLeft"></div>
          <div class="col-md-4" id="tenCodesMiddle"></div>
          <div class="col-md-4" id="tenCodesRight"></div>
        </div>
      </div>
    </div>
  </div>
</div>
