<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LPC - About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="/static/css/animate.min.css" />
    <link rel="stylesheet" href="/static/css/ionicons.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/about.css" />
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <!-- To hide google translate header bar on each page -->
    <style type='text/css'> iframe.goog-te-banner-frame{ display: none !important;}</style>
    <style type='text/css'> body {position: static !important; top:0px !important;}</style>
    <% include ad-header %>
</head>

<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img style="display: inline; margin-top: -9px; vertical-align: text-top;" src="/static/images/favicon-32x32.png"></img> Lines Police CAD</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <% include index-navbar %>
            </div>
        </div>
    </nav>
    
    <div class="col-md-offset-3 col-md-7">
        
        <div class="inner">
            <h2 class="text-center">Lines Police CAD</h2>
            <hr>
            <h4 class="text-indent-2">
                A free to use Civilian, Police, EMS and Dispatch management CAD (Computer Aided Dispatch). Built to help facilitate role-play communities across the globe.
                We developed this with users in mind. This is Web and Mobile friendly and can support community 
                specific operations when creating civilians, citations and more. Click here to get started: <a href="/signup-civ">Sign Up</a>
            </h4>
        </div>
        <hr class="margin-top-3 margin-bottom-3" style="width: 88%;max-width: 100rem;">
        <div id="contact-us">
            <h3>Contact Us</h3>
            <h4>
                Check out our Contact Us page: <a href="/contact-us">Contact Us</a>
            </h4>
        </div>
        <hr class="margin-top-3 margin-bottom-3" style="width: 88%;max-width: 100rem;">
        <div>
            
            <!-- horizontal ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-3842696805773142"
                data-ad-slot="2113058291"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div id="contributions">
            <h3>Contributions</h3>
            
            <h4>There are a few ways you can help contribute:
                <br>
            <br>- Just using the site and providing valuable feedback is a great way to share that you like what you
                are
                using.
            <br>
                <br>- If you are more technically inclined and want to help develop cool new features for this or other
                projects, please checkout our <a href="https://github.com/linesmerrill/police-cad">GitHub</a>.
                <br>
            <br>- Feel free to follow us on Patreon, or join the cause and become one of our
                Patreon's! Find us here:
                <a href="https://www.patreon.com/linespoliceserver">Lines Police CAD Patreon</a>
                <br>
            <br>- This website is completely open sourced on GitHub, which means you are free to
                contribute! 
                If you find issues or would like to see something added, please open an <a
                    href="https://github.com/linesmerrill/police-cad/issues">issue</a> on our GitHub page:<br>
                <a href="https://github.com/linesmerrill/police-cad">Police-CAD</a>
            </h4>
        </div>
        <hr class="margin-top-3 margin-bottom-3" style="width: 88%;max-width: 100rem;">
        <div id="privacy-policy">
            <h3>Privacy Policy</h3>
            <h4>Check out our Privacy Policy:
                <a href="/privacy-policy">Privacy Policy</a>
            </h4>
        </div>
        <hr class="margin-top-3 margin-bottom-3" style="width: 88%;max-width: 100rem;">
        <div id="terms-and-conditions">
            <h3>Terms and Conditions</h3>
            <h4>Check out our Terms and Conditions:
                <a href="/terms-and-conditions">Terms and Conditions</a>
            </h4>
        </div>
        <hr class="margin-top-3 margin-bottom-3" style="width: 88%;max-width: 100rem;">
        <div class="google-ad"></div>
    </div>
    <% include footer %>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center">Coming Soon!</h2>
                    <p class="text-center">This is still being developed. Please check back later ;)</p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK
                        <i class="ion-android-close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--scripts loaded here -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/wow.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>


<!--  added for google translate --> 
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->