<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Civilian Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/structure.css">

  </head>
  <body>
    <div class="row margin-top-4">
      <div class="col-md-12 text-align-center font-size-20-px margin-left-2">
        San Andreas <img class="image-star" src="/images/star.png" alt="star"> Civilian Operations
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 text-align-center font-size-20-px">
        Hi, <%= user.user.username %>
      </div>
    </div>
    <div class="row margin-top-2">
      <div class="col-md-12 text-align-center">
        <button type="button" class="btn btn-primary btn-width-150" data-toggle="modal" data-target=".add-new-civ">Add New Civilian</button>
        <button type="button" class="btn btn-primary btn-width-150">Add New Vehicle</button>
        <button type="button" class="btn btn-primary btn-width-150">Edit Civilian</button>
        <button type="button" class="btn btn-primary btn-width-150">Patrol Log</button>
        <button type="button" class="btn btn-default btn-width-150" onClick="parent.location='/logout'">Log Out</button>
      </div>
    </div>
    <!-- <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

<div class="modal fade add-new-civ" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      Create New Civilian
    </div>
  </div>
</div>
    <div class="row">
      <div class="col-md-12 text-align-center">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-align-center margin-top-2 font-size-20-px">
        Your Personas:
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1 text-align-center name-table">


    <table class="table table-hover">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
    </tr>
    <tr>
      <td>Jacob</td>
    </tr>
    <tr>
      <td>Larry the Bird</td>
    </tr>
  </tbody>
</table>
</div>
  </body>
</html>
