<div
  style="
    margin-top: 2em;
    background-color: black;
    opacity: 0.7;
    padding: 22px;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    width: 50%;
    text-align: center;
  "
>
  <p>
    Already have an account?
    <a style="color: lightblue" href="/login-civ"
      ><strong>Log in here</strong></a
    >
  </p>
</div>
