<optgroup label="Traffic Violations: may result in suspended or revoked license">
  <option value="aa750">Driving without a license ($750) </option>
  <option value="ab150">Driving without headlights ($150) </option>
  <option value="ac450">Driving without insurance ($450) </option>
  <option value="ad200">Excessive vehicle noise ($200) </option>
  <option value="ae500">Failure to maintain lanes ($500) </option>
  <option value="af250">Failure to obey a traffic control device ($250) </option>
  <option value="ag250">Failure to yield to a pedestrian ($250) </option>
  <option value="ah500">Failure to yield to an emergency vehicle ($500) </option>
  <option value="ai250">Illegal parking ($250) </option>
  <option value="aj200">Illegal U-Turn ($200) </option>
  <option value="ak400">Impeding flow of traffic ($400) </option>
  <option value="al400">Improper use of a motor vehicle ($400) </option>
  <option value="am800">Possession of burglary Tools ($800) </option>
  <option value="an1000">Reckless Driving ($1000) </option>
  <option value="ao150">Speeding 10-19 ($150) </option>
  <option value="ap250">Speeding 20-29 ($250) </option>
  <option value="aq500">Speeding 30 or over ($500) </option>
  <option value="ar500">Unlawful vehicle modification ($500) </option>
  <option value="as350">Unroadworthy vehicle ($350) </option>
</optgroup>
<optgroup label="Petty Misdemeanors: small violation, prohibited by a statute. Not a crime. Usually results in a fine">
  <option value="at250">Disorderly conduct ($250) </option>
  <option value="au300">Disturbing the peace ($300) </option>
  <option value="av100">Jaywalking ($100) </option>
  <option value="aw250">Loitering ($250) </option>
  <option value="ax800">Public intoxication ($800) </option>
</optgroup>
<optgroup label="Misdemeanors: fine, jail sentence or both">
  <option value="ay2000">Accessory to street racing ($2000) </option>
  <option value="az6000">Aggravated Assault ($6000) </option>
  <option value="ba3500">Aggravated Battery ($3500) </option>
  <option value="bb2000">Aiding and abetting ($2000) </option>
  <option value="bc3500">Assault ($3500) </option>
  <option value="bd2500">Battery ($2500) </option>
  <option value="be800">Brandishing a firearm ($800) </option>
  <option value="bf1800">Breaking and entering ($1800) </option>
  <option value="bg2000">Bribery ($2000) </option>
  <option value="bh2500">Contempt of court ($2500) </option>
  <option value="bi1500">Destruction of property ($1500) </option>
  <option value="bj2000">Drug possession Class: A, B, C ($2000) </option>
  <option value="bk3000">DUI/DWI ($3000) </option>
  <option value="bl1000">Failure to follow a lawful command ($1000) </option>
  <option value="bm1500">Failure to have a valid permit ($1500) </option>
  <option value="bn1200">Failure to identify to a LEO ($1200) </option>
  <option value="bo0">Failure to pay fines (N/A) </option>
  <option value="bp750">Failure to stop for a police vehicle ($750) </option>
  <option value="bq1500">Filing a false complaint ($1500) </option>
  <option value="br4000">Illegal street racing ($4000) </option>
  <option value="bs1500">Indecent exposure ($1500) </option>
  <option value="bt1250">Obstruction of justice ($1250) </option>
  <option value="bu800">Providing false information to a LEO ($800) </option>
  <option value="bv1600">Public endangerment ($1600) </option>
  <option value="bw3000">Sexual assault ($3000) </option>
  <option value="bx3000">Stalking ($3000) </option>
  <option value="by1000">Theft ($1000) </option>
  <option value="bz500">Trespassing ($500) </option>
  <option value="ca800">Unlawful discharge of a firearm ($800) </option>
  <option value="cb1500">Vandalism ($1500) </option>
  <option value="cc0">Wasting police time(N/A) </option>
  <option value="cd0">Withholding info from a LEO (N/A) </option>
</optgroup>
<optgroup label="Felonies: Crime usually involving violence, more serious than misdemeanor">
  <option value="ce0">Accessory to armed robbery </option>
  <option value="cf0">Accessory to assault with a deadly weapon </option>
  <option value="cg0">Accessory to Attempted murder </option>
  <option value="ch0">Accessory to attempted murder of a LEO </option>
  <option value="ci0">Accessory to escape </option>
  <option value="cj0">Accessory to murder </option>
  <option value="ck0">Accessory to murder of a LEO </option>
  <option value="cl0">Armed Robbery </option>
  <option value="cm0">Arson </option>
  <option value="cn0">Assault on a LEO </option>
  <option value="co0">Assault with a deadly weapon </option>
  <option value="cp0">Attempted murder </option>
  <option value="cq0">Attempted murder of a LEO </option>
  <option value="cr0">Conspiracy to commit murder </option>
  <option value="cs0">Corruption of a government position </option>
  <option value="ct0">Dissuading a witness or a victim </option>
  <option value="cu0">Distribution of a illegal firearms </option>
  <option value="cv0">Escape </option>
  <option value="cw0">Extortion </option>
  <option value="cx0">Felony drug possession </option>
  <option value="cy0">Fleeing & Eluding </option>
  <option value="cz0">Grand Theft Auto </option>
  <option value="da0">Hit & Run </option>
  <option value="db0">Improper use of a motor vehicle </option>
  <option value="dc0">Kidnapping </option>
  <option value="dd0">Manslaughter </option>
  <option value="de0">Murder </option>
  <option value="df0">Murder of a LEO </option>
  <option value="dg0">Pandering/ Pimping </option>
  <option value="dh0">Perjury </option>
  <option value="di0">Police Impersonation </option>
  <option value="dj0">Possession of a illegal firearm Class A </option>
  <option value="dk0">Possession of a illegal firearm Class B </option>
  <option value="dl0">Possession of a illegal firearm Class C </option>
  <option value="dm0">Possession of an illegal weapon (Knife) </option>
  <option value="dn0">Prostitution </option>
  <option value="do0">Rape </option>
  <option value="dp0">Resisting Arrest </option>
  <option value="dq0">Sexual battery </option>
  <option value="dr0">Solicitation of murder </option>
  <option value="ds0">Terrorism </option>
  <option value="dt0">Trespassing within a restricted facility </option>
  <option value="du0">Vigilantism </option>
</optgroup>
<optgroup label="Fish and Wildlife: warning or fine (officer's discretion)">
  <option value="dv200">Hunting/Fishing without legal permit ($200) </option>
  <option value="dw500">Hunting out of season ($500) </option>
</optgroup>
<optgroup label="Other:">
  <option value="dx0">Cop/Civ baiting </option>
  <option value="dy0">MetaGaming </option>
</optgroup>