<optgroup label="Traffic Violations: may result in suspended or revoked license">
  <option>Driving without a license</option>
  <option>Driving without headlights</option>
  <option>Driving without insurance</option>
  <option>Excessive vehicle noise</option>
  <option>Failure to maintain lanes</option>
  <option>Failure to obey a traffic control device</option>
  <option>Failure to yield to a pedestrian</option>
  <option>Failure to yield to an emergency vehicle</option>
  <option>Illegal parking</option>
  <option>Illegal U-Turn</option>
  <option>Impeding flow of traffic</option>
  <option>Improper use of a motor vehicle</option>
  <option>Possession of burglary Tools</option>
  <option>Reckless Driving</option>
  <option>Speeding 10-19</option>
  <option>Speeding 20-29</option>
  <option>Speeding 30 or over</option>
  <option>Unlawful vehicle modification</option>
  <option>Unroadworthy vehicle</option>
</optgroup>
<optgroup label="Petty Misdemeanors: small violation, prohibited by a statute. Not a crime. Usually results in a fine">
  <option>Disorderly conduct</option>
  <option>Disturbing the peace</option>
  <option>Jaywalking</option>
  <option>Loitering</option>
  <option>Public intoxication</option>
</optgroup>
<optgroup label="Misdemeanors: fine, jail sentence or both">
  <option>Accessory to street racing</option>
  <option>Aggravated Assault</option>
  <option>Aggravated Battery</option>
  <option>Aiding and abetting</option>
  <option>Assault</option>
  <option>Battery</option>
  <option>Brandishing a firearm</option>
  <option>Breaking and entering</option>
  <option>Bribery</option>
  <option>Contempt of court</option>
  <option>Destruction of property</option>
  <option>Drug possession Class: A, B, C</option>
  <option>DUI/DWI</option>
  <option>Failure to follow a lawful command</option>
  <option>Failure to have a valid permit</option>
  <option>Failure to identify to a LEO</option>
  <option>Failure to pay fines</option>
  <option>Failure to stop for a police vehicle</option>
  <option>Filing a false complaint</option>
  <option>Illegal street racing</option>
  <option>Indecent exposure</option>
  <option>Obstruction of justice</option>
  <option>Providing false information to a LEO</option>
  <option>Public endangerment</option>
  <option>Sexual assault</option>
  <option>Stalking</option>
  <option>Theft</option>
  <option>Trespassing</option>
  <option>Unlawful discharge of a firearm</option>
  <option>Vandalism</option>
  <option>Wasting police time 3 minutes</option>
  <option>Withholding info from a LEO</option>
</optgroup>
<optgroup label="Felonies: Crime usually involving violence, more serious than misdemeanor">
  <option>Accessory to armed robbery</option>
  <option>Accessory to assault with a deadly weapon</option>
  <option>Accessory to Attempted murder</option>
  <option>Accessory to attempted murder of a LEO</option>
  <option>Accessory to escape</option>
  <option>Accessory to murder</option>
  <option>Accessory to murder of a LEO</option>
  <option>Armed Robbery</option>
  <option>Arson</option>
  <option>Assault on a LEO</option>
  <option>Assault with a deadly weapon</option>
  <option>Attempted murder</option>
  <option>Attempted murder of a LEO</option>
  <option>Conspiracy to commit murder</option>
  <option>Corruption of a government position</option>
  <option>Dissuading a witness or a victim</option>
  <option>Distribution of a illegal firearms</option>
  <option>Escape</option>
  <option>Extortion</option>
  <option>Felony drug possession</option>
  <option>Fleeing & Eluding</option>
  <option>Grand Theft Auto</option>
  <option>Hit & Run</option>
  <option>Improper use of a motor vehicle</option>
  <option>Kidnapping</option>
  <option>Manslaughter</option>
  <option>Murder</option>
  <option>Murder of a LEO</option>
  <option>Pandering/ Pimping</option>
  <option>Perjury</option>
  <option>Police Impersonation</option>
  <option>Possession of a illegal firearm Class A</option>
  <option>Possession of a illegal firearm Class B</option>
  <option>Possession of a illegal firearm Class C</option>
  <option>Possession of an illegal weapon (Knife)</option>
  <option>Prostitution</option>
  <option>Rape</option>
  <option>Resisting Arrest</option>
  <option>Sexual battery</option>
  <option>Solicitation of murder</option>
  <option>Terrorism</option>
  <option>Trespassing within a restricted facility</option>
  <option>Vigilantism</option>
</optgroup>
<optgroup label="Fish and Wildlife: warning or fine (officer's discretion)">
  <option>Hunting/Fishing without legal permit</option>
  <option>Hunting out of season</option>
</optgroup>
<optgroup label="Other:">
  <option>Cop/Civ baiting</option>
  <option>MetaGaming</option>
</optgroup>