<li class="background-color-222">
  <a
    type="button"
    data-toggle="collapse"
    data-target="#toggleCommunities"
    aria-expanded="false"
    aria-controls="toggleCommunities"
    onclick="toggleCaret()"
  >
    Communities
    <i class="fa fa-caret-right pull-right rotate" style="margin-top: 0.3em"></i
  ></a>
</li>
<div class="collapse in" id="toggleCommunities">
  <li>
    <a href="/community-dashboard"
      ><span class="fa fa-house-user mr-3"></span> Your Communities</a
    >
  </li>
  <li>
    <a data-toggle="modal" href="/discover-communities"
      ><span class="fa fa-square-plus mr-3"></span> Discover</a
    >
  </li>
  <li>
    <a href="/browse-communities"
      ><span class="fa fa-magnifying-glass-location mr-3"></span> Browse
    </a>
  </li>
  <li>
    <a href="/trending-communities"
      ><span class="fa fa-arrow-trend-up mr-3"></span> Trending</a
    >
  </li>
</div>
