<li class="background-color-222">
  <a
    type="button"
    data-toggle="collapse"
    data-target="#toggleDepartment"
    aria-expanded="false"
    aria-controls="toggleDepartment"
    onclick="toggleCaret()"
  >
    Departments
    <i
      class="fa fa-caret-right pull-right rotate"
      style="margin-top: 0.3em"
    ></i>
  </a>
</li>
<div class="collapse in" id="toggleDepartment">
  <!-- Dynamic departments will be injected here -->
</div>
