<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ad-header %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found | LPC</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
      body {
        margin: 0;
        font-family: "Helvetica Neue", sans-serif;
        background: #0f172a;
        color: #fff;
        text-align: center;
        background-image: url("https://zos.alipayobjects.com/rmsportal/hzPBTkqtFpLlWCi.jpg");
        background-size: cover;
        background-position: center;
      }

      .overlay {
        background: rgba(0, 0, 0, 0.7); /* Dark transparent box */
        padding: 60px 30px;
        max-width: auto;
        margin: 100px auto;
        /* border-radius: 16px; */
      }

      h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }

      a.button {
        display: inline-block;
        margin: 10px;
        padding: 12px 24px;
        border-radius: 8px;
        background: #4ade80;
        color: #000;
        font-weight: 600;
        text-decoration: none;
        transition: background 0.3s;
      }

      a.button:hover {
        background: #22c55e;
      }

      a.back-link {
        display: block;
        margin-top: 30px;
        color: #ccc;
        text-decoration: underline;
      }

      .info {
        font-size: 0.95rem;
        color: #cbd5e1;
        margin-top: 20px;
        line-height: 1.6;
      }
    </style>
  </head>
  <body>
    <div class="overlay">
      <h1>Heads up 👋</h1>
      <p>
        This page is currently not available on our website.<br />But you can
        find it in our new mobile app!
      </p>
      <a
        class="button"
        href="https://apps.apple.com/us/app/lpc-app/id6503307483"
        target="_blank"
        >Get it on iOS</a
      >
      <a
        class="button"
        href="https://play.google.com/store/apps/details?id=com.linesmerrill.policecadapp"
        target="_blank"
        >Get it on Android</a
      >
      <a class="back-link" href="/">Back to Homepage</a>
      <div class="info">
        We're uplifting the entire user experience, and the mobile app already
        contains all the new features and improvements.<br />
        We're actively working on bringing those same updates to the website —
        so stay tuned!<br />
        Thanks for your patience while we rebuild.
      </div>
    </div>
  </body>
</html>
