footer#footer
  .container-fluid
    .row
      .col-xs-6.col-sm-3.column
        h4 Information
        ul.list-unstyled
          li
            a(href='/release-log') Release Log
          li
            a(href='https://linesmerrill.github.io/MerrillLines/' target='_blank') Developers
      .col-xs-6.col-sm-3.column
        h4 About
        ul.list-unstyled
          li
            a(href='/about#contact-us') Contact Us
          li
            a(href='/privacy-policy') Privacy Policy
          li
            a(href='/terms-and-conditions') Terms &amp; Conditions
      .col-xs-12.col-sm-3.column
        h4 Contribute
        ul.list-unstyled
          li
            a(href='https://www.patreon.com/linespolicecad') Patreon
          li
            a(href='https://github.com/linesmerrill/police-cad') Police-CAD on Github
      .col-xs-12.col-sm-3.text-right
        h4 Follow
        ul.list-inline
          li
            a(rel='nofollow' target='_blank' href='https://twitter.com/LinesPoliceCAD' title='Twitter')
              i.icon-lg.ion-social-twitter-outline
          li.facebook-logo
            a(rel='nofollow' target='_blank' href='https://www.facebook.com/linespoliceserver/' title='Facebook')
              i.icon-lg.ion-social-facebook-outline
          li
            a.patreon-logo.icon-lg(rel='nofollow' target='_blank' href='https://www.patreon.com/linespolicecad' title='Patreon')
              // <img src="/images/Patreon_Mark_White.png" class="" alt="patreon logo">
              span.iconify(data-icon='bx:bxl-patreon' data-inline='false')
    br
    #google_translate_element
    span.pull-right.text-muted.small
      a(href='/') Lines Police CAD
      |  &copy;2020 TLPS LLC
  // <div class="powr-popup-notification" id="75da3ab7_1598195583"></div><script src="https://www.powr.io/powr.js?platform=html"></script>
