<div class="home-page-wrapper footer1-wrapper">
  <div class="footer1">
    <div class="ant-row home-page">
      <div
        name="block0"
        class="ant-col block ant-col-xs-24 ant-col-md-6"
        style="opacity: 1; transform: translate(0px)"
      >
        <h2 class="logo">
          <img
            src="https://www.linespolice-cad.com/static/images/lpc_logo_new_2023_landscape_transparent.png"
            alt="img"
            width="100%"
          />
        </h2>
        <div class="slogan">
          <div name="content0">
            <span
              ><span
                ><span
                  ><p>
                    World's Leading Free-to-use role-play facilitator<br /></p></span></span
            ></span>
          </div>
        </div>
      </div>
      <div
        name="block1"
        class="ant-col block ant-col-xs-24 ant-col-md-6"
        style="opacity: 1; transform: translate(0px)"
      >
        <h2>
          <span><p>Information</p></span>
        </h2>
        <div>
          <a
            name="link0"
            href="https://github.com/Linesmerrill/police-cad/releases"
            target=""
            ><span
              ><p>Release Log<br /></p></span></a
          ><a name="link1" href="https://linesmerrill.github.io/MerrillLines/"
            ><span><p>Developers</p></span></a
          ><a
            href="https://www.patreon.com/linespolicecad"
            name="link2"
            target="_blank"
            ><span><p>Patreon</p></span></a
          ><a
            href="https://github.com/linesmerrill/police-cad"
            name="link3"
            target="_blank"
            ><span><p>GitHub</p></span></a
          >
        </div>
      </div>
      <div
        name="block2"
        class="ant-col block ant-col-xs-24 ant-col-md-6"
        style="opacity: 1; transform: translate(0px)"
      >
        <h2>
          <span><p>About</p></span>
        </h2>
        <div>
          <a href="/faq" name="link0">FAQ</a
          ><a href="/contact-us" name="link1"
            ><span
              ><p>Contact Us<br /></p></span></a
          ><a name="link2" href="/terms-and-conditions"
            ><span><p>Terms and Conditions</p></span></a
          ><a name="link3" href="/privacy-policy"
            ><span><p>Privacy Policy</p></span></a
          >
        </div>
      </div>
      <div
        name="block3"
        class="ant-col block ant-col-xs-24 ant-col-md-6"
        style="opacity: 1; transform: translate(0px)"
      >
        <h2>
          <span><p>Follow</p></span>
        </h2>
        <div>
          <a href="https://discord.gg/3ECFhqe" name="link0" target="_blank"
            ><span><p>Discord</p></span></a
          ><a
            href="https://twitter.com/LinesPoliceCAD"
            name="link1"
            target="_blank"
            ><span><p>Twitter</p></span></a
          ><a
            href="https://www.facebook.com/linespoliceserver/"
            name="link2"
            target="_blank"
            ><span><p>Facebook</p></span></a
          >
        </div>
      </div>
    </div>
    <div
      class="copyright-wrapper"
      style="transform: translate(0px); opacity: 1"
    >
      <div class="home-page">
        <div class="copyright">
          <span
            ><span
              >©2023 by
              <a
                href="https://sites.google.com/view/tlps-dev/home"
                target="_blank"
                rel="noopener noreferrer"
                >TLPS</a
              >
              All Rights Reserved</span
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
