<footer id="footer">
    <div>
        <% include ad-body %>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-3 column">
                <h4>Information</h4>
                <ul class="list-unstyled">
                    <li><a href="/release-log">Release Log</a></li>
                    <li><a href="https://linesmerrill.github.io/MerrillLines/" target="_blank">Developers</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 column">
                <h4>About</h4>
                <ul class="list-unstyled">
                    <li><a href="/about#contact-us">Contact Us</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 column">
                <h4>Contribute</h4>
                <ul class="list-unstyled">
                    <li><a href="https://www.patreon.com/linespoliceserver">Patreon</a></li>
                    <li><a href="https://paypal.me/linespoliceserver">PayPal</a></li>
                    <li><a href="https://github.com/linesmerrill/police-cad">Police-CAD on Github</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 text-right">
                <h4>Follow</h4>
                <ul class="list-inline">
                    <li><a rel="nofollow" target="_blank" href="https://www.twitter.com/LPSWebsite" title="Twitter"><i
                                class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
                    <li><a rel="nofollow" target="_blank" href="https://www.facebook.com/linespoliceserver/"
                            title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a>&nbsp;</li>
                    <br />
                    <li><a rel="nofollow" target="_blank" href="https://www.patreon.com/linespoliceserver"
                            title="Patreon"><i class="fab fa-patreon font-size-4"></i></a></li>
                </ul>
            </div>
        </div>
        <% include ad-zap-body %>
        <br />
        <span class="pull-right text-muted small"><a href="/">Lines Police CAD</a> ©2020 TLPS LLC</span>
    </div>
</footer>