<div class="alert alert-danger col-md-12 text-center">
    <strong><i class="ion-alert-circled"></i> PSA! This is a free to use website created for everyone to enjoy.
        If someone is trying to charge you money to use this website, that is a scam! Click here for more information: 
        <a href="/terms-and-conditions#important-notice">Terms of Service</a> <i class="ion-alert-circled"></i></strong>
</div>