<div class="alert alert-danger col-md-12 text-center">
    <strong><i class="ion-alert-circled"></i> Notice! This website will be down for a brief maintenance window
         September 1, 2020 from 07:00AM - 08:00AM Pacific Standard Time (PST). During this time the website will be unavailable. 
         Check our <a rel="nofollow" target="_blank"
         href="https://www.facebook.com/linespoliceserver/" title="Facebook">Facebook</a> or <a rel="nofollow" target="_blank" href="https://www.twitter.com/LPSWebsite" title="Twitter">Twitter</a> for updates about the upgrades. Thank you for your patience and support! <i class="ion-alert-circled"></i></strong>
</div>