<div>
    <div class="alert alert-danger alert-dismissible show" role="alert">
        <strong>Alert!</strong> We are undergoing a database upgrade. Feel free to use our test development site in the meantime while we upgrade.
        <br/>Note: Your previous data is being preserved, but you will need to create a new temp account and information to use this site for the time being.
      </div>
    
</div>