<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LPC - Health</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/ionicons.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <!-- To hide google translate header bar on each page -->
    <style type='text/css'> iframe.goog-te-banner-frame{ display: none !important;}</style>
    <style type='text/css'> body {position: static !important; top:0px !important;}</style>
</head>

<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img style="display: inline; margin-top: -9px; vertical-align: text-top;" src="/images/favicon-32x32.png"></img> Lines Police CAD</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <% include index-navbar %>
            </div>
        </div>
    </nav>
    <div class="col-md-offset-3 col-md-7">
        <div class="inner">
            <h2 class="text-center">Health</h2>
            <hr>
            <h4 id="websiteStatus" class="text-center"></h4>
            <h4 id="databaseStatus" class="text-center"></h4>
            <h4 id="responseTime" class="text-center"></h4>
        </div>
        
        <section>
        </section>
    </div>
    <% include footer %>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center">Coming Soon!</h2>
                    <p class="text-center">This is still being developed. Please check back later ;)</p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK
                        <i class="ion-android-close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--scripts loaded here -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/scripts.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>

</html>
<script type="text/javascript">
window.onload = function () {
    var loadTime = window.performance.timing.domContentLoadedEventEnd-window.performance.timing.navigationStart; 
    // console.log('Page load time is '+ loadTime);
    $('#websiteStatus').text("Website Status: " + "✅")
    $('#databaseStatus').text("Database Status: " + "✅")
    $('#responseTime').text(loadTime/1000 + " seconds")
}
</script>

<!--  added for google translate --> 
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->