<ul class="nav navbar-nav navbar-right">
  <li>
      <a href="/">Home</a>
  </li>
  <li>
      <a href="/about-us">About</a>
  </li>
  <li>
      <a href="/contact-us">Contact Us</a>
  </li>

<li>
  <a href="/discord-bot" target="_blank">Discord Bot <i class="fas fa-external-link-alt"></i></a>
</li>
<li>
  <a href="/login-civ">Login</a>
</li>

</ul>