<!doctype html>
<html>
<head>
	<title>Lines Police - cad</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/structure.css">


</head>
<body>

<form class="box login">
	<fieldset class="boxBody">

		<label>
      <a href="/login-civ" class="btn btn-outline-info">Civilian</a>
      <a href="/login-police" class="btn btn-outline-info">Police Officer</a>
		</label>

</fieldset>

</form>
</body>
</html>
