<ul class="nav navbar-nav navbar-right">
  <li>
      <a href="/rules">Rules</a>
  </li>
  <li>
    <a href="/penal-code">Penal Codes</a>
</li>
  <li>
      <a href="/about">About</a>
  </li>
  <li>
      <a href="/map-interactive">Map</a>
  </li>
<li>
  <a href="/release-log">Release Log</a>
</li>
  
</ul>