ul.nav.navbar-nav.navbar-right
  li
    a(href='/rules') Rules
  li
    a(href='/penal-code') Penal Codes
  li
    a(href='/about') About
  li
    a(href='/map-interactive') Map
  li
    a(href='/release-log') Release Log
  li
    a(href='/discord-bot' target='_blank')
      | Discord Bot 
      i.fas.fa-external-link-alt
