<option value="driver license">Driver License</option>
<option value="weapon license">Weapon License</option>
<option value="commercial driver license">Commercial Driver License</option>
<option value="hunting license">Hunting License</option>
<option value="pilot license">Pilot License</option>
<option value="fishing license">Fishing License</option>
<option value="medical license">Medical License</option>
<option value="attorney license">Attorney License</option>
<option value="pastors license">Pastors License</option>
<option value="driving license instructor">Driving License Instructor</option>
<option value="pilots license instructor">Pilots License Instructor</option>
<option value="liquor sales license">Liquor Sales License</option>
<option value="food selling license">Food Selling License</option>
<option value="legal business license">Legal Business License</option>
<option value="life guard license">Life Guard License</option>
