<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400"
  rel="stylesheet"
/>

<div class="Wrap-card">
  <div class="Base-card">
    <div class="Inner-wrap-card">
      <!--       Header SVG -->

      <svg
        class="Logo-name-card"
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns="http://www.w3.org/2000/svg"
        version="1.0"
        width="298.72266"
        height="55.51717"
      >
        <!-- <span
          style="
            font-size: 23px;
            font-weight: bold;
            position: absolute;
            left: 18px;
            top: 6px;
          "
        >
          Firearm License
        </span> -->
      </svg>

      <div class="Name-card">
        <h3 id="firearm-id-name"></h3>
      </div>

      <div>
        <span>Status: <span id="firearm-id-status"></span></span>
      </div>
    </div>
  </div>
</div>
