<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LPC - Login as Police</title>
    <meta name="description" content="Lines Roleplay Police CAD. Built to facilitate the needs of roleplay police and civilians." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/animate.min.css" />
    <link rel="stylesheet" href="/static/css/ionicons.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="shortcut icon" type="image/ico" href="static/images/favicon.ico">
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <!-- To hide google translate header bar on each page -->
    <style type='text/css'> iframe.goog-te-banner-frame{ display: none !important;}</style>
    <style type='text/css'> body {position: static !important; top:0px !important;}</style>
    <% include ad-header %>
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img style="display: inline; margin-top: -9px; vertical-align: text-top;" src="/static/images/favicon-32x32.png"></img> Lines Police CAD</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="/release-log">Release Log</a>
                  </li>
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="Lines Police CAD" href="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header id="first">

        <div class="header-content">
            <div class="inner">
                <h4>Log in as a Police Officer</h4>
                <hr>
                 <div class="col-lg-10 col-lg-offset-1 text-center">
                <form id="signInForm" class="contact-form row" action="/login-police" method="post">
                  <% if(message != undefined && message != null) {%>
                    <% if (message.length > 0) { %>
                    <div class="alert alert-danger col-md-4 col-md-offset-4">
                      <strong>Incorrect <%= message %> </strong>
                    </div>
                    <% } %>
                  <% } %>
                  <div class="col-md-12">
                    <div class="col-md-4 col-md-offset-4">
                        <label>Email</label>
                        <input id="inputEmail" type="email" name="email" class="form-control" placeholder="Email Address" required>
                    </div>
                  </div>
                    <div class="col-md-12">
                      <div class="col-md-4 col-md-offset-4">
                          <label>Password</label>
                          <input id="inputPassword" type="password" name="password" class="form-control" placeholder="Password" required>
                      </div>
                    </div>
                </div>

                <button type="submit" value="SignUp" class="btn btn-primary btn-xl margin-top-2 g-recaptcha"
                data-sitekey="6LflPdwZAAAAANsUIdfCJMxTv1r0ZobOS7PgcWN7" 
                data-callback='onSubmit' 
                data-action='submit' >Sign In</button>
                <div class="signup-text">
                  <a href="/signup-police"><u>Don't have an account?</u></a><br>
                  <a href="/forgot-password"><u>Forgot Password?</u></a>
                </div>
              </form>
            </div>
        </div>

    </header>
    <div class="google-ad"></div>
    <% include footer %>
    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	<div class="modal-body">
        		<img src="" id="galleryImage" class="img-responsive" />
        		<p>
        		    <br/>
        		    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
        		</p>
        	</div>
        </div>
        </div>
    </div>
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-body">
        		<h2 class="text-center">Lines Police CAD</h2>
        		<h5 class="text-center">
        		   CAD (Computer Aided Dispatch)
        		</h5>
        		<p class="text-justify">
        		    Developed with users in mind. Easy to log in and create an account. From there you can take the
                freedom of playing with a certain persona in GTA V. Buy cars, apartments, make a living online.
                Or join the law, become a police officer and patrol the streets. You decide your own fate.
        		</p>

        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
        	</div>
        </div>
        </div>
    </div>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        	<div class="modal-body">
        		<h2 class="text-center">Nice Job!</h2>
        		<p class="text-center">You clicked the button, this is just one of the many easter eggs on this site ;)</p>
        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="ion-android-close"></i></button>
        	</div>
        </div>
        </div>
    </div>
    <!--scripts loaded here -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/wow.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </body>
</html>

<script>
  function onSubmit(token) {
    document.getElementById("signInForm").submit();
  }
</script>

<!--  added for google translate --> 
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>