<!doctype html>
<html>
  <head>
  	<title>Lines Police - cad</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  	<link rel="stylesheet" type="text/css" href="css/structure.css">

  </head>
  <body>
    <form action="/login-police" method="post" class="box login">
    	<fieldset class="boxBody">
    	<% if (message.length > 0) { %>
    		<div class="alert alert-message"><%= message %></div>
    	<% } %>
      </br>
      <p class="font-size-20">Police Officer</p>

      <label >Please Login To Your Account</label>
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
      </div>
    	</fieldset>
      <footer>
        <div class="col-md-12 text-center">
          <button type="submit" value="SignUp" class="btn btn-primary button-sign-in" onClick="parent.location='/signup'">
            <span class="glyphicon glyphicon-lock"></span> Sign In
          </button>
        </div>
        <div class="col-md-12">
          </br>
          </br>
          <a class="cursor-pointer float-right" value="SignUp" onClick="parent.location='/signup'">Create An Account</a>
        </div>
      </footer>
    </form>
  </body>
</html>
