<div class="navbar-collapse collapse" id="bs-navbar">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/community-dashboard">Communities </a>
      </li>
      <li>
        <a data-toggle="modal" href="#notificationModal" style="margin-top: -0.15em;font-size: 2em;margin-right: -0.8em;"><ion-icon name="notifications-outline"></ion-icon> <span class="badge badge-light" style="margin-left: -1em;margin-top: -3em;background-color: #D32D27;"></span></a>
        <span class="sr-only">unread notifications</span>
      </li>
      <li>
        <a data-toggle="modal" href="#accountModal" onclick="fillAccountDetails()"><ion-icon class="nav-user-icon" name="person-circle-outline"></ion-icon></a>
      </li>
    </ul>
  </div>

  