<div id="notepadModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal" aria-hidden="true">X</button>
          <h4>Notepad</h4>
          <hr style="width: 88%;max-width: 100rem;">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
          <textarea id="notepad-textarea" class="width-100 " rows="15" maxlength="2000"></textarea>
        </div>
        <label class="col-md-4 control-label" for=""></label>
                <div class="col-md-4 text-align-center">
                  <button class="btn btn-info" onclick="clearTextarea()">Clear</button>
                </div>
        </div>
        </div>
      </div>
    </div>
  </div>