<div id="notificationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <fieldset>
          <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
            aria-hidden="true">X</button>
          <br />
          <h1>New Updates!</h1>
          <h1></h1>
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.17.0">Release v0.17.0</a></h2>
          <p class="text-align-left color-gray">(Released May 9th, 2021)</p>
          <p class="text-align-left">
            <br />
            <strong><u>New:</u></strong>
            <br />路 Adds a new button for police and dispatch to quickly search registered firearms
            <br />路 Search a civilian by name, then click on the new "Search Registered Firearms" button to check it out
            <br />路 Will display whether or not each weapon is stolen with a helpful alert
            <br />路 Should save officers time, as now they can see all civilian information in a single place
            <br />
            <br />
            <strong><u>Updated:</u></strong>
            <br />路 Fixes an issue showing the civilian id when creating a new firearm on the civilian dashboard
            <br />路 Minor bug fixes and enhancements
          </p>
          <hr>
          <h3>Previous Releases</h3>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.16.0">Release v0.16.0</a></h2>
          <p class="text-align-left color-gray">(Released February 22nd, 2021)</p>
          <p class="text-align-left">
            <br />
            <strong><u>New:</u></strong>
            <br />路 Adds tons of optional advanced details for civilians
            <br />路 Revamps the drivers license to display all the new information
            <br />路 Changes the 'Create New License' button to work better across mobile devices
            <br />
            <br />
            <strong><u>Updated:</u></strong>
            <br />路 Minor bug fixes and enhancements
          </p>
        </fieldset>
      </div>
    </div>
  </div>
</div>