<div id="notificationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <fieldset>
          <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
            aria-hidden="true">X</button>
          <br />
          <h1>New Updates!</h1>
          <h1></h1>
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.20.0">Release v2.20.0</a></h2>
          <p class="text-align-left color-gray">(Released May 19th, 2021)</p>
          <p class="text-align-left">
            <br />
            <strong><u>New:</u></strong>
            <br />路 Dispatchers will only see officers that are on-duty in the list of officers
            <br />路 Police Officers will need to mark themselves 10-41 or "on-duty" to show up in the list
            <br />路 Once a Police Officer marks themselves as 10-42 or "off-duty" they will be removed from the list
            <br />路 Allows dispatchers to only see a list of officers
            <br />
            <br />
            <strong><u>Updated:</u></strong>
            <br />路 Minor bug fixes and enhancements
          </p>
          <hr>
          <h3>Previous Releases</h3>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.19.0">Release v2.19.0</a></h2>
          <p class="text-align-left color-gray">(Released May 15th, 2021)</p>
          <p class="text-align-left">
            Upload Profile Picture to Your Profile
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.18.0">Release v2.18.0</a></h2>
          <p class="text-align-left color-gray">(Released May 12th, 2021)</p>
          <p class="text-align-left">
            Uplifts the Civilian Dashboard
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.17.0">Release v2.17.0</a></h2>
          <p class="text-align-left color-gray">(Released May 9th, 2021)</p>
          <p class="text-align-left">
            Adds New Button to Quickly Search Registered Firearms
          </p>
        </fieldset>
      </div>
    </div>
  </div>
</div>