<div
  id="notificationModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <fieldset>
          <button
            class="btn btn-primary btn-md float-right"
            type="button"
            data-dismiss="modal"
            aria-hidden="true"
          >
            X
          </button>
          <br />
          <h1>New Updates!</h1>
          <h1></h1>
          <hr />
          <h2 class="text-align-left">
            <a
              href="https://github.com/Linesmerrill/police-cad/releases/tag/v3.1.0"
              >Release v3.1.0</a
            >
          </h2>
          <h5 class="text-align-left color-gray">(Released Sep 2023)</h5>
          <p class="text-align-left">
            <br />
            <strong><u>New:</u></strong>
            <br />路 Civilian Dashboard Revamp <br />路 View all civilian details
            from within the civilian card <br />路 Adds new license page <br />路
            Ability to add multiple difference licenses <br />路 Updates how
            vehicles and firearms are loaded <br />路 Cleans up code performance
            and loading times <br />路 Allows for future app implementation
            <br />
            <br />
            <strong><u>Updated:</u></strong>
            <br />路 Minor bug fixes and enhancements
          </p>
          <hr style="width: 88%; max-width: 100rem" />
          <h2 class="margin-top-2">Previous Releases</h2>
          <h2></h2>
          <hr />
          <h2 class="text-align-left">
            <a
              href="https://github.com/Linesmerrill/police-cad/releases/tag/v3.0.1"
              >Release v3.0.1</a
            >
          </h2>
          <h5 class="text-align-left color-gray">(Released Jul 2023)</h5>
          <p class="text-align-left">
            New Department Sidebar for Easy Quick Switching
          </p>

          <hr />
          <h2 class="text-align-left">
            <a
              href="https://github.com/Linesmerrill/police-cad/releases/tag/v3.0.0"
              >Release v3.0.0</a
            >
          </h2>
          <h5 class="text-align-left color-gray">(Released Jul 2023)</h5>
          <p class="text-align-left">Brand New Landing Page and Logo</p>
          <hr />
          <h2 class="text-align-left">
            <a
              href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.40.0"
              >Release v2.40.0</a
            >
          </h2>
          <h5 class="text-align-left color-gray">(Released Dec 2022)</h5>
          <p class="text-align-left">Update Analytics to v4</p>
        </fieldset>
      </div>
    </div>
  </div>
</div>
