<div id="notificationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <fieldset>
          <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
            aria-hidden="true">X</button>
          <br />
          <h1>New Updates!</h1>
          <h1></h1>
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.18.0">Release v2.18.0</a></h2>
          <p class="text-align-left color-gray">(Released May 12th, 2021)</p>
          <p class="text-align-left">
            <br />
            <strong><u>New:</u></strong>
            <br />路 Adds a new side panel on the civilian dashboard
            <br />路 Access all the required buttons on the new side panel
            <br />路 Notifications now work on the side panel, so be sure to check them out (if you are reading this then that means they are working )
            <br />
            <br />
            <strong><u>Updated:</u></strong>
            <br />路 Minor bug fixes and enhancements
          </p>
          <hr>
          <h3>Previous Releases</h3>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.17.0">Release v2.17.0</a></h2>
          <p class="text-align-left color-gray">(Released May 9th, 2021)</p>
          <p class="text-align-left">
            Adds New Button to Quickly Search Registered Firearms
          </p>
        </fieldset>
      </div>
    </div>
  </div>
</div>