<div id="notificationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <fieldset>
          <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
            aria-hidden="true">X</button>
          <br />
          <h1>New Updates!</h1>
          <h1></h1>
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.39.0">Release v2.39.0</a></h2>
          <h5 class="text-align-left color-gray">(Released Jun 18th, 2022)</h5>
          <p class="text-align-left">
            <br />
            <strong><u>New:</u></strong>
            <br />路 Volume Slider Update
            <br />路 Modify audio level from inside the website
            <br />路 Navigate to Settings > Alert Volume
            <br />路 Quickly drag slider and set desired audio level
            <br />路 Updates audio files with increased volume
            <br />路 Deletes redundant audio files
            <br />路 Set base volume to 10% (to match existing functionality)
            <br />
            <br />
            <strong><u>Updated:</u></strong>
            <br />路 Minor bug fixes and enhancements
          </p>
          <hr style="width: 88%;max-width: 100rem;">
          <h2 class="margin-top-2">Previous Releases</h2>
          <h2></h2>
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.32.0">Release v2.32.0</a></h2>
          <h5 class="text-align-left color-gray">(Released Feb 10th, 2022)</h5>
          <p class="text-align-left">
            Police Can Delete Citations, Warnings & Arrests
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.31.0">Release v2.31.0</a></h2>
          <h5 class="text-align-left color-gray">(Released Feb 8th, 2022)</h5>
          <p class="text-align-left">
            Adds the ability to Auto Create Civilians
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.30.0">Release v2.30.0</a></h2>
          <h5 class="text-align-left color-gray">(Released Jan 12th, 2022)</h5>
          <p class="text-align-left">
            Adds the ability for Dispatch to assign Fire/EMS to calls
            
          
          
      
          
          
        </fieldset>
      </div>
    </div>
  </div>
</div>