<div id="notificationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <fieldset>
          <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
            aria-hidden="true">X</button>
          <br />
          <h1>New Updates!</h1>
          <h1></h1>
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.19.0">Release v2.19.0</a></h2>
          <p class="text-align-left color-gray">(Released May 15th, 2021)</p>
          <p class="text-align-left">
            <br />
            <strong><u>New:</u></strong>
            <br />路 You can now upload a profile picture to the website
            <br />路 Log in and click on your profile picture or find it in the Settings Tab
            <br />路 Profile pictures will be hosted by <a href="https://en.gravatar.com/support/activating-your-account/" target="_blank">Gravatar <i class="fas fa-external-link-alt"></i></a>, so head over there to customize your photo
            <br />路 We will use your email address to pull the photo from <a href="https://en.gravatar.com/support/activating-your-account/" target="_blank">Gravatar <i class="fas fa-external-link-alt"></i></a>
            <br />
            <br />
            <strong><u>Updated:</u></strong>
            <br />路 Minor bug fixes and enhancements
          </p>
          <hr>
          <h3>Previous Releases</h3>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.18.0">Release v2.18.0</a></h2>
          <p class="text-align-left color-gray">(Released May 12th, 2021)</p>
          <p class="text-align-left">
            Uplifts the Civilian Dashboard
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.17.0">Release v2.17.0</a></h2>
          <p class="text-align-left color-gray">(Released May 9th, 2021)</p>
          <p class="text-align-left">
            Adds New Button to Quickly Search Registered Firearms
          </p>
        </fieldset>
      </div>
    </div>
  </div>
</div>