<div id="notificationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <fieldset>
          <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
            aria-hidden="true">X</button>
          <br />
          <h1>New Updates!</h1>
          <h1></h1>
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.21.0">Release v2.21.0</a></h2>
          <p class="text-align-left color-gray">(Released May 22th, 2021)</p>
          <p class="text-align-left">
            <br />
            <strong><u>New:</u></strong>
            <br />路 Civilians can now place 911 Calls to Dispatchers
            <br />路 New button on the civilian side panel that allows civilians to create a call
            <br />路 Fill out the basic information and the call will be routed to any active dispatchers in your community
            <br />路 Calls from 911 callers will start with "911 Caller" so Dispatchers can quickly take action
            <br />
            <br />
            <strong><u>Updated:</u></strong>
            <br />路 Minor bug fixes and enhancements
          </p>
          <hr>
          <h3>Previous Releases</h3>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.20.0">Release v2.20.0</a></h2>
          <p class="text-align-left color-gray">(Released May 19th, 2021)</p>
          <p class="text-align-left">
            Dispatch only sees list of On-Duty Officers
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.19.0">Release v2.19.0</a></h2>
          <p class="text-align-left color-gray">(Released May 15th, 2021)</p>
          <p class="text-align-left">
            Upload Profile Picture to Your Profile
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.18.0">Release v2.18.0</a></h2>
          <p class="text-align-left color-gray">(Released May 12th, 2021)</p>
          <p class="text-align-left">
            Uplifts the Civilian Dashboard
        </fieldset>
      </div>
    </div>
  </div>
</div>