<div id="notificationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <fieldset>
          <button class="btn btn-primary btn-md float-right" type="button" data-dismiss="modal"
            aria-hidden="true">X</button>
          <br />
          <h1>New Updates!</h1>
          <h1></h1>
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.32.0">Release v2.32.0</a></h2>
          <h5 class="text-align-left color-gray">(Released Feb 10th, 2022)</h5>
          <p class="text-align-left">
            <br />
            <strong><u>New:</u></strong>
            <br />路 Police Can Delete Citations, Warnings & Arrests
            <br />路 If you accidentally create one of these, you can now delete them 
            <br />路 If you want to remove something from a Civilians record you can now do that
            <br />路 Start by searching for a civilian and you will see a new column in the table
            <br />路 Click on the 'x' to delete that record from the police database
            <br />
            <br />
            <strong><u>Updated:</u></strong>
            <br />路 Minor bug fixes and enhancements
          </p>
          <hr style="width: 88%;max-width: 100rem;">
          <h2 class="margin-top-2">Previous Releases</h2>
          <h2></h2>
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.31.0">Release v2.31.0</a></h2>
          <h5 class="text-align-left color-gray">(Released Feb 8th, 2022)</h5>
          <p class="text-align-left">
            Adds the ability to Auto Create Civilians
          <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.30.0">Release v2.30.0</a></h2>
          <h5 class="text-align-left color-gray">(Released Jan 12th, 2022)</h5>
          <p class="text-align-left">
            Adds the ability for Dispatch to assign Fire/EMS to calls
            <hr>
          <h2 class="text-align-left"><a href="https://github.com/Linesmerrill/police-cad/releases/tag/v2.29.0">Release v2.29.0</a></h2>
          <h5 class="text-align-left color-gray">(Released Dec 27th, 2021)</h5>
          <p class="text-align-left">
            Adds Discord Oauth2
          
          
      
          
          
        </fieldset>
      </div>
    </div>
  </div>
</div>