<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORw0KGgo="/>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <link rel="stylesheet" href="./css/animate.min.css" />
  <link rel="stylesheet" href="./css/ionicons.min.css" />
  <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/pagenotfound.css" />
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107735203-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-107735203-1');
    </script>
</head>
<body>
        <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="/"><i class="ion-ios-analytics-outline"></i> Lines Police Server</a>
                    </div>
                    <div class="navbar-collapse collapse" id="bs-navbar">
                        
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/rules">Rules</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                          <li>
                            <a href="/release-log">Release Log</a>
                          </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
    <h1 class="page-not-found-header">SORRY</h1>
    <h2>we couldn't find that page</h2>
    <p>Try going to <a href="/">Lines Police Server's home page</a>.</p>
</body>
</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
