<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LPC - Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/animate.min.css" />
    <link rel="stylesheet" href="/static/css/ionicons.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/about.css" />
    <% include ad-header %>
</head>

<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img style="display: inline; margin-top: -9px; vertical-align: text-top;" src="/static/images/favicon-32x32.png"></img> Lines Police CAD</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <% include index-navbar %>
            </div>
        </div>
    </nav>

    <section>
        <div id="privacy-policy" class="container padding-8">
            <h2 class="text-align-center"><strong>Privacy Policy</strong></h2>
            <hr>

            <p class="text-align-center">Effective date: August 30, 2018</p>


            <p>Lines Police CAD ("us", "we", or "our") operates the https://linespolice-cad.com/ website (the
                "Service").</p>

            <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when
                you
                use our Service and the choices you have associated with that data. This Privacy Policy for Lines Police
                Server is powered by
                <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator.php">FreePrivacyPolicy.com</a>.
            </p>

            <p>We use your data to provide and improve the Service. By using the Service, you agree to the collection
                and use
                of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms
                used
                in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from
                https://linespolice-cad.com/terms-and-conditions</p>


            <h2>Information Collection And Use</h2>

            <p>We collect several different types of information for various purposes to provide and improve our Service
                to
                you.
            </p>

            <h3>Types of Data Collected</h3>

            <h4>Personal Data</h4>

            <p>While using our Service, we may ask you to provide us with certain personally identifiable information
                that can
                be used to contact or identify you ("Personal Data"). Personally identifiable information may include,
                but
                is not limited to:</p>

            Email address
            <br> Cookies and Usage Data
            <br>

            <h4>Usage Data</h4>

            <p>We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may
                include
                information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser
                version,
                the pages of our Service that you visit, the time and date of your visit, the time spent on those pages,
                unique device identifiers and other diagnostic data.</p>

            <h4>Tracking & Cookies Data</h4>
            <p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain
                information.</p>
            <p>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are
                sent
                to your browser from a website and stored on your device. Tracking technologies also used are beacons,
                tags,
                and scripts to collect and track information and to improve and analyze our Service.</p>
            <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However,
                if you
                do not accept cookies, you may not be able to use some portions of our Service.</p>
            <p>Examples of Cookies we use:</p>

            <strong>Session Cookies.</strong> We use Session Cookies to operate our Service.
            <br>

            <strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various
            settings.
            <br>

            <strong>Security Cookies.</strong> We use Security Cookies for security purposes.
            <br>

            <h2>Use of Data</h2>

            <p>Lines Police CAD uses the collected data for various purposes:</p>

            To provide and maintain the Service
            <br> To notify you about changes to our Service
            <br> To allow you to participate in interactive features of our Service when you choose to do so
            <br> To provide customer care and support
            <br> To provide analysis or valuable information so that we can improve the Service
            <br> To monitor the usage of the Service
            <br> To detect, prevent and address technical issues
            <br>

            <h2>Transfer Of Data</h2>
            <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located
                outside
                of your state, province, country or other governmental jurisdiction where the data protection laws may
                differ
                than those from your jurisdiction.</p>
            <p>If you are located outside United States and choose to provide information to us, please note that we
                transfer
                the data, including Personal Data, to United States and process it there.</p>
            <p>Your consent to this Privacy Policy followed by your submission of such information represents your
                agreement
                to that transfer.</p>
            <p>Lines Police CAD will take all steps reasonably necessary to ensure that your data is treated securely
                and
                in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an
                organization
                or a country unless there are adequate controls in place including the security of your data and other
                personal
                information.
            </p>

            <h2>Disclosure Of Data</h2>

            <h3>Legal Requirements</h3>
            <p>Lines Police CAD may disclose your Personal Data in the good faith belief that such action is
                necessary to:</p>

            To comply with a legal obligation
            <br> To protect and defend the rights or property of Lines Police CAD
            <br> To prevent or investigate possible wrongdoing in connection with the Service
            <br> To protect the personal safety of users of the Service or the public
            <br> To protect against legal liability
            <br>


            <h2>Security Of Data</h2>
            <p>The security of your data is important to us, but remember that no method of transmission over the
                Internet,
                or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to
                protect
                your Personal Data, we cannot guarantee its absolute security.</p>

            <h2>Service Providers</h2>
            <p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to
                provide
                the Service on our behalf, to perform Service-related services or to assist us in analyzing how our
                Service
                is used.</p>
            <p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are
                obligated
                not to disclose or use it for any other purpose.</p>

            <h3>Analytics</h3>
            <p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>

            <p>
                <strong>Google Analytics</strong>
            </p>
            <p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic.
                Google
                uses the data collected to track and monitor the use of our Service. This data is shared with other
                Google
                services. Google may use the collected data to contextualize and personalize the ads of its own
                advertising
                network.
            </p>
            <p>You can opt-out of having made your activity on the Service available to Google Analytics by installing
                the Google
                Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js,
                analytics.js,
                and dc.js) from sharing information with Google Analytics about visits activity.</p>
            <p>For more information on the privacy practices of Google, please visit the Google Privacy & Terms web
                page:
                <a href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a>
            </p>



            <h2>Links To Other Sites</h2>
            <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party
                link,
                you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of
                every
                site you visit.</p>
            <p>We have no control over and assume no responsibility for the content, privacy policies or practices of
                any third
                party sites or services.</p>


            <h2>Children's Privacy</h2>
            <p>Our Service does not address anyone under the age of 18 ("Children").</p>
            <p>We do not knowingly collect personally identifiable information from anyone under the age of 18. If you
                are a
                parent or guardian and you are aware that your Children has provided us with Personal Data, please
                contact
                us. If we become aware that we have collected Personal Data from children without verification of
                parental
                consent, we take steps to remove that information from our servers.</p>


            <h2>Changes To This Privacy Policy</h2>
            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new
                Privacy
                Policy on this page.</p>
            <p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming
                effective
                and update the "effective date" at the top of this Privacy Policy.</p>
            <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy
                Policy are
                effective when they are posted on this page.</p>


            <h2>Contact Us</h2>
            <p>If you have any questions about this Privacy Policy, please contact us:</p>

            By email: support@linespolice-cad.com<br>
            By visiting this page on our website: https://linespolice-cad.com/about<br>

        </div>
    </section>
    <div class="google-ad"></div>
    <% include footer %>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center">Coming Soon!</h2>
                    <p class="text-center">This is still being developed. Please check back later ;)</p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK
                        <i class="ion-android-close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--scripts loaded here -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/wow.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script>if (window.module) module = window.module;</script>
</body>

</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->