<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LPC - Rules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/ionicons.min.css" />
    <link rel="stylesheet" href="/css/rules.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <!-- To hide google translate header bar on each page -->
    <style type='text/css'> iframe.goog-te-banner-frame{ display: none !important;}</style>
    <style type='text/css'> body {position: static !important; top:0px !important;}</style>
    <% include ad-header %>
</head>

<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img style="display: inline; margin-top: -9px; vertical-align: text-top;" src="/images/favicon-32x32.png"></img> Lines Police CAD</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <% include index-navbar %>
            </div>
        </div>
    </nav>
    <section id="last">
        <div class="container">
            <div class="inner">
                <h2 class="text-center">Rules</h2>
                <h4 class="text-center"><b>"We want to build a fun Roleplay community where people want 
                    to come back time and time again."</b></h4>
                <hr>
                <h4>
                    ( 1 ). Respect each and all members on the server. Do not disrespect, harass, threaten, troll,
                    bully, or in any way or shape or form disrespect another player. Two wrongs do not make a right and
                    in the end you both will be punished after proper investigation has been done. If a member of the
                    Management Team tells you not to do something or makes a general announcement to everyone not to do
                    something and you are caught doing it you will receive proper punishment without explanation.
                    <br>
                    <br>
                    ( 2 ). Administrators at any given time have the right and the ability to kick/ban a player without
                    any explanation. Administrators are incharge and keeping the peace and smooth running of the server
                    while players are active on there. Administrators will use whatever is required to keep the peace
                    and to keep things running smoothly. If you wish to speak to one you can ask them in the game chat.
                    <br>
                    <br>
                    ( 3 ). It is prohibited to steal any vehicle which is classified as an Emergency Vehicle. If you
                    wish to roleplay out a scene in which one would have to be stolen or used you will contact the Head
                    Administrator and await for their response to this request. This is to prevent any misunderstanding
                    information about the scene which is being played out. But do not use this to your advantage. ADMIN
                    VEHICLE IS OFF-LIMITS!!!!
                    <br>
                    <br>
                    ( 4 ). No matter the job that you are doing you have a Chain of Command. You will use it accurately
                    and correctly. This gives those who are in various positions the option and ability to handle a
                    situation the way they feel fit.
                    <br>
                    <br>
                    ( 5 ). While on the server everyone will maintain a proper and professional Matter.
                    <br>
                    <br>
                    ( 6 ). No one on the server will have God-Mode on. No vehicles are allowed to have god mode on as
                    well. Such actions will result in the player being punished accordingly and professionally by the
                    Head Admin.
                    <br>
                    <br>
                    ( 7 ). All vehicles will be at level x2 power. If a player changes this option without proper
                    approval punishment will be issued.
                    <br>
                    <br>
                    ( 8 ). If you are caught Hacking or doing anything in which endangers the safety of the server you
                    will be instantly dealt with. PERM BAN.
                    <br>
                    <br>
                    ( 9 ). If a player is issued a PERM BAN that player is no longer allowed to join the server. If you
                    wish to make a new account or try to evade this ban your new account will be banned as well.
                    <br>
                    <br>
                    ( 10 ). All players who are on the server are required to have the application called
                    https://discordapp.com/. You will use this for communication with other players and Co-Workers.
                    <br>
                    <br>
                    ( 11 ). All players are required to be registered with the https://linespolice-cad.com/ system.
                    This is required to be complete within x48 hours after joining the server.
                    <br>
                    <br>
                    ( 12 ) All players should be aware of the rules for the server as well as the rules on discord.
                    Failure to comply with any rules will mean a punishment will be issued accordingly on how the
                    situation was dealt with.
                    <br>
                    <br>
                    ( 13 ). If a player has any questions or concerns then they can address it with the Head
                    Administrator ( William.K ) and await a reply back.
                </h4>
            </div>
        </div>
    </section>
    <div class="google-ad"></div>
    <% include footer %>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center">Coming Soon!</h2>
                    <p class="text-center">This is still being developed. Please check back later ;)</p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i
                            class="ion-android-close"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!--scripts loaded here -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/scripts.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

<!--  added for google translate --> 
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->