<!doctype html>
<html>
  <head>
  	<title>Lines Police - cad</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  	<link rel="stylesheet" type="text/css" href="css/structure.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body>
    <form action="/signup-police" method="post" class="box login">
    	<fieldset class="boxBody">
      	<% if (message.length > 0) { %>
      		<div class="alert alert-message"><%= message %></div>
      	<% } %>
        </br>
        <p class="font-size-20">Create An Account</p>
        <div class="form-group">
          <label for="inputName1">Username</label>
          <input type="text" name="username" class="form-control" id="inputName1" placeholder="Enter Username" required>
        </div>
        <div class="form-group">
          <label for="inputEmail1">Email address</label>
          <input type="email" name="email" class="form-control" id="inputEmail1" placeholder="Enter Email" required>
        </div>
        <div class="form-group">
          <label for="inputPassword1">Password</label>
          <input type="password" name="password" class="form-control" id="inputPassword1" placeholder="Password" required>
        </div>
    	</fieldset>
    	<footer>
        <button type="submit" id="account-form-btn2" class="btn btn-primary float-right width-10" value="SignUp">Submit</button>
        <button type="button" id="account-form-btn1" class="btn btn-default float-right margin-right-1 width-10" value="Login" onClick="parent.location='/'">Cancel</button>
    	</footer>
    </form>
  </body>
</html>
