.release-log {
    background-image: url(/static/images/gta-landing-page.jpg);
    background-repeat: no-repeat;
    padding: 15px;
    background-attachment: fixed;
    background-size: cover;
}

.margin-top-2 {
    margin-top: 2em;
}