/*

Landing Zero theme - A free landing page theme from BootstrapZero
http://www.bootstrapzero.com

*/

@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);

@font-face {
    font-family: 'dealerplatecalifornia';
    src: url('/static/fonts/dealerplate_california-webfont.woff2') format('woff2'),
        url('/static/fonts/dealerplate_california-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'car-frame';
    src: url('/static/fonts/cargoframedemo-webfont.woff2') format('woff2'),
        url('/static/fonts/cargoframedemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    background-color: #282828;
    color: #d3d3d3;
    webkit-tap-highlight-color: #222;
}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #00aced;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #d9edf7;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.full-map {
    margin-top: 30px;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    cursor: grab;
}

.full-map img {
    height: auto;
    width: 100%;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245, 245, 245, 0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #00aced;
}

.modal-content {
    background-color: #1d1d1d;
}

section {
    padding: 20px 0;
}

aside {
    padding: 50px 0;
}

footer {
    padding: 15px;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(35, 35, 35, .05);
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    background-color: #222;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-header>.navbar-brand {
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    color: #00aced;
    padding: 15px;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

.navbar-header>.navbar-brand:hover,
.navbar-header>.navbar-brand:focus {
    color: #d9edf7;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #181818;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #00aced;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #00aced !important;
    background-color: transparent;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }

    .navbar-header>.navbar-brand {
        color: rgba(255, 255, 255, 0.7);
        padding: 19px;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60, 60, 60, 0.7);
    }

    .navbar-default .nav>li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        border-color: rgba(34, 34, 34, .05);
        background-color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #00aced;
        padding: 20px;
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #d9edf7;
    }

    .navbar-default.affix .nav>li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.7);
    }

    .navbar-default.affix .nav>li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #00aced;
    }
}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #c9c9c9;
    background-image: url("/static/images/gta-landing-page.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

#video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

#video-background.collapsing {
    display: none;
}

footer {
    background-color: #2d2d2d;
}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }

    header {
        min-height: 50%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    section {
        min-height: 600px;
        padding: 100px 0;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
}

.form-label {
    padding: 6px 0px 0px 0px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-1-5 {
    margin-top: 1.5rem;
}

.margin-right-1 {
    margin-right: 1em;
}

.margin-top-5 {
    margin-top: 5em;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow: hidden;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44, 44, 44, .8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: transparent;
    border: 1px solid #f0f0f0;
    border-color: #f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
    border-color: #00aced;
    color: #00aced;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.margin-top-2 {
    margin-top: 2rem;
}

.signup-text {
    margin-top: 2rem;
    font-size: 18px;
}

.table-hover>tbody>tr:hover {
    background-color: #00aced;
}

.table-hover>tbody>tr.no-hover:hover {
    background-color: transparent;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-left-neg-2 {
    margin-left: -2em;
}

.details {
    position: absolute;
    margin-left: -19rem;
    margin-top: 2rem;
    border: none !important;
}

.float-right {
    float: right;
}

.font-large {
    font-size: large;
}

.font-18 {
    font-size: 18px;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.popover {
    color: black;
    width: 80%;
}

#plate {
    text-transform: uppercase;
}

#plateName {
    text-transform: uppercase;
}

#plateVeh {
    text-transform: uppercase;
}

#color {
    text-transform: capitalize;
}

#model {
    text-transform: capitalize;
}

#civ-first-name {
    text-transform: capitalize;
}

#civ-last-name {
    text-transform: capitalize;
}

#firstName {
    text-transform: capitalize;
}

#lastName {
    text-transform: capitalize;
}

#modelVeh {
    text-transform: capitalize;
}

#colorView {
    text-transform: capitalize;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    text-transform: none;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    text-transform: none;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    text-transform: none;
}

.grid__cell {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #000;
    border-bottom: 0 solid #000;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .55) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#40000000', GradientType=0);
    margin-bottom: 70px;
    margin-bottom: 7rem;
}

.grid__cell--small {
    max-width: 30%;
}

.section__content a.link--inherit,
a.link--inherit {
    color: inherit;
    text-decoration: none;
}

.grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.platform {
    display: inline-block;
    font-weight: 700;
    padding: 8px 15px;
    padding: .8rem 1.5rem;
    margin-left: 15px;
    margin-left: 1.5rem;
    margin-bottom: 30px;
    margin-bottom: 3rem;
}

.platform--ps4 {
    background-color: #41626c;
}

.platform--pc {
    background-color: #cd4534;
}

#release-header {
    top: 95%;
}

.password-check-bad {
    float: left;
    padding-top: 3.5rem;
    font-size: 1.4em;
    color: red;
}

.password-check-good {
    float: left;
    padding-top: 3.5rem;
    font-size: 1.4em;
    color: lawngreen;
}

#second::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, black, black);
    opacity: .6;

}

/* #second {
    min-height: 50%;
} */

#third::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, black, black);
    opacity: .8;
}

.padding-left-0 {
    padding-left: 0px;
}

.blue-hover:hover,
.blue-hover:focus {
    color: #5bc0de;
}

.blue-hover {
    color: black;
}

.background-transparent {
    background: transparent;
}

.plate-body-text {
    font-size: 14px;
    margin: 0;
    line-height: 1.42857143;
}

.color-red {
    color: #DE0A0A;
}

.color-alert-red {
    color: #d9534f
}

.color-green {
    color: green;
}

.color-yellow {
    color: yellow;
}

.color-black {
    color: black;
}

.color-gray {
    color: gray;
}

.color-white {
    color: white;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.font-size-1 {
    font-size: 1em;
}

.font-size-2 {
    font-size: 2em;
}

.font-size-3 {
    font-size: 3em;
}

.font-size-4 {
    font-size: 4em;
}

.font-size-5 {
    font-size: 5em;
}

.font-size-6 {
    font-size: 6em;
}

.font-size-2-vmax {
    font-size: 2vmax;
}

.font-size-4-vmax {
    font-size: 4vmax;
}

#arrest-report-case-no {
    background-color: #36333d;
}

#arrest-report-case-no:hover {
    cursor: not-allowed;
}

#reporting-officer {
    background-color: #36333d;
}

#reporting-officer:hover {
    cursor: not-allowed;
}

#serial-number {
    background-color: #36333d;
}

#serial-number:hover {
    cursor: not-allowed;
}

#serial-number-details {
    background-color: #36333d;
}

#serial-number-details:hover {
    cursor: not-allowed;
}

.font-size-3 {
    font-size: 3em;
}

.text-indent-2 {
    text-indent: 2em;
}

.margin-bottom-05 {
    margin-bottom: 0.5em
}

.disabled-color {
    color: #eee !important;
    background-color: #36333d !important;
    cursor: not-allowed;
}

#civID {
    color: #eee;
    background-color: #36333d;
}

#civIDWarning {
    color: #eee;
    background-color: #36333d;
}

#civIDArrest {
    color: #eee;
    background-color: #36333d;
}

#civIDWarrant {
    color: #eee;
    background-color: #36333d;
}

#notepad-textarea {
    color: #eee;
    background-color: #36333d;
}

/* #new-report-civilianID {
    color: #eee;
    background-color: #36333d;
} */

#warrant-select {
    color: #eee;
    background-color: #36333d;
    height: 35px;
    line-height: 1.5;
    width: 100%;
}

#warrant-civ-first-name {
    color: #eee;
    background-color: #36333d;
}

#warrant-civ-last-name {
    color: #eee;
    background-color: #36333d;
}

#warrant-civ-dob {
    color: #eee;
    background-color: #36333d;
}

#accountEmail {
    color: #eee;
    background-color: #36333d;
}

/* To fix the scrolling modal issues */
.modal {
    overflow-y: auto;
}

.diagonal-arrow {
    width: 82%;
}

.float-right {
    float: right;
}

.margin-left-1 {
    margin-left: 1em;
}

.icon {
    vertical-align: text-top;
}

.mock-disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.nav-link:hover {
    color: black;
}

.hide-button-outline {
    padding: 0 !important;
    border: none !important;
    background: none !important;
}

.path-arrow {
    margin-top: 0.2em;
    margin-left: -1em;
}

.arrow-button:hover {
    color: #337ab7;
    background-color: transparent !important;
    cursor: default;
}

.red-dot {
    height: 15px;
    width: 15px;
    background-color: #d9534f;
    border-radius: 50%;
    display: inline-block;
}

.green-dot {
    height: 15px;
    width: 15px;
    background-color: #5cb85c;
    border-radius: 50%;
    display: inline-block;
}

#scrollToTop:hover {
    text-decoration: none;
    opacity: 0.7;
    border-color: #00aced;
    color: #00aced;
}

.well-sm {
    border-radius: 50%;
}

#top-link-block.affix-top {
    position: absolute;
    /* allows it to "slide" up into view */
    bottom: -82px;
    /* negative of the offset - height of link element */
    right: 10px;
    /* padding from the left side of the window */
}

#top-link-block.affix {
    position: fixed;
    /* keeps it on the bottom once in view */
    bottom: 245px;
    /* height of link element */
    right: 10px;
    /* padding from the left side of the window */
    z-index: 3;
}

#scroll-top-block:hover,
#scroll-top-block:focus {
    color: #23527c;
    text-decoration: underline;
}

#scroll-top-block:focus {
    color: #00aced;
    text-decoration: underline;
}

#personas-table:hover {
    cursor: pointer;
}

#vehicle-table:hover {
    cursor: pointer;
}

#firearm-table:hover {
    cursor: pointer;
}

#addMedicationModal {
    z-index: 9001
        /* ITS OVER 9000!! */
}

#addConditionModal {
    z-index: 9001
        /* ITS OVER 9000!! */
}

.clickable:hover {
    cursor: pointer;

}

.facebook-logo {
    margin-right: 4em;
}

.patreon-logo {
    position: absolute;
    bottom: 10px;
    right: 6px;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

@media (max-width: 594px) {
    #map-image {
        background-image: url("/static/images/mobile-map.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 325px;
        height: 325px;
    }
}

@media (min-width: 595px) and (max-width: 995px) {
    #map-image {
        background-image: url("/static/images/desktop-map.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 565px;
        height: 800px;
    }
}

@media (min-width: 996px) {
    #map-image {
        background-image: url("/static/images/GTA-V-Custom-Postal-Code-Map.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 850px;
        height: 800px;
    }
}

.nav-user-icon {
    font-size: 2.5em;
    margin-top: -0.23em;
}

.default-person-icon {
    font-size: 6em;
}

.thumbnail-box {
    cursor: pointer;
    background: transparent;
    background-color: transparent;
}

.thumbnail-box:hover {
    background-color: #00aced;
}

.license-plate {
    font-family: car-frame;
}

.table-icon {
    vertical-align: middle;
    margin-left: 0.5em;
    font-size: 2em;
    cursor: pointer;
}

.active-icon {
    color: #00aced;
}

.inactive-icon {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

#callNotesDetail {
    background-color: #36333d;
}

#callNotesDetail:focus {
    background-color: #36333d;
    color: white;
}

a[data-toggle="collapse"] .rotate {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

a[data-toggle="collapse"].collapsed .rotate {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.background-color-222 {
    background-color: #222;
}

.topNav {
    background-color: #222;
    width: 100%;
}

.arrow {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.white-dashboard {
    background: white
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

#first {
    min-height: 100%;
}

.no-sort::after {
    display: none !important;
}

.no-sort {
    pointer-events: none !important;
    cursor: default !important;
}

#drivers-license {
    margin-bottom: 10em;
}

.drivers-license-number {
    position: absolute;
    bottom: -4px;
    left: 25px;
    font-weight: 100;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
}

.last-name-title {
    position: absolute;
    bottom: 139px;
    left: 25px;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    color: #801E46;
}

.last-name {
    position: absolute;
    bottom: 140px;
    left: 46px;
    width: 174px;
    height: 18px;
    padding: 0px;
    background: transparent;
    color: black;
    border: none;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.last-name-search {
    position: absolute;
    bottom: 144px;
    left: 46px;
    width: 174px;
    height: 18px;
    padding: 0px;
    background: transparent;
    color: black;
    border: none;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.first-name-title {
    position: absolute;
    bottom: 125px;
    left: 25px;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    color: #801E46
}

.first-name {
    position: absolute;
    bottom: 124px;
    left: 46px;
    width: 155px;
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.address {
    position: absolute;
    bottom: 87px;
    width: 170px;
    height: 40px;
    left: 26px;
    line-height: 12px;
    background: transparent;
    color: black;
    border: none;
    font-family: 'Signika', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.dob-title {
    position: absolute;
    bottom: 139px;
    left: 210px;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    color: #801E46
}

.dob {
    position: absolute;
    bottom: 138px;
    left: 237px;
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.expiration-title {
    position: absolute;
    bottom: 74px;
    left: 25px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.expiration {
    position: absolute;
    bottom: 73px;
    left: 50px;
    color: black;
    font-size: 14px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.issued-title {
    position: absolute;
    bottom: 74px;
    left: 210px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.issued {
    position: absolute;
    bottom: 73px;
    left: 235px;
    color: black;
    font-size: 14px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.sex-title {
    position: absolute;
    bottom: 58px;
    left: 25px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.sex {
    position: absolute;
    bottom: 58px;
    left: 52px;
    color: black;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.height-title {
    position: absolute;
    bottom: 46px;
    left: 25px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.height {
    position: absolute;
    bottom: 46px;
    left: 52px;
    color: black;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.weight-title {
    position: absolute;
    bottom: 34px;
    left: 25px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.weight {
    position: absolute;
    bottom: 34px;
    left: 52px;
    color: black;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.eye-title {
    position: absolute;
    bottom: 58px;
    left: 110px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.eye {
    position: absolute;
    bottom: 58px;
    left: 141px;
    color: black;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.hair-title {
    position: absolute;
    bottom: 46px;
    left: 110px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.hair {
    position: absolute;
    bottom: 46px;
    left: 140px;
    color: black;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.status-title {
    position: absolute;
    bottom: 125px;
    left: 210px;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    color: #801E46;
}

.status {
    position: absolute;
    bottom: 125px;
    left: 237px;
    background: transparent;
    border: none;
    font-family: 'Signika', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

.donor-title {
    position: absolute;
    bottom: 19px;
    left: 25px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.veteran {
    position: absolute;
    bottom: 54px;
    left: 210px;
    color: #102959;
    font-size: 16px;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.reg-arm {
    text-transform: capitalize;
}

.flex-main {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
}

.flex-li-wrapper {
    display: inline-flex;
    /* width: 25%; */
    min-width: 25%;
    max-width: 100%;
    margin: 10px 0 0 0;
    padding: 10px;

}

.flex-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.goog-te-banner {
    top: initial;
    bottom: 0;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  