/*

Landing Zero theme - A free landing page theme from BootstrapZero
http://www.bootstrapzero.com

*/

@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);

@font-face {
    font-family: 'dealerplatecalifornia';
    src: url('/static/fonts/dealerplate_california-webfont.woff2') format('woff2'),
        url('/static/fonts/dealerplate_california-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'car-frame';
    src: url('/static/fonts/cargoframedemo-webfont.woff2') format('woff2'),
        url('/static/fonts/cargoframedemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    background-color: #282828;
    color: #d3d3d3;
    webkit-tap-highlight-color: #222;
}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #00aced;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #d9edf7;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.full-map {
    margin-top: 30px;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    cursor: grab;
}

.full-map img {
    height: auto;
    width: 100%;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245, 245, 245, 0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #00aced;
}

.modal-content {
    background-color: #1d1d1d;
}

section {
    padding: 20px 0;
}

aside {
    padding: 50px 0;
}

footer {
    padding: 15px;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(35, 35, 35, .05);
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    background-color: #222;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-header>.navbar-brand {
    font-family: 'Questrial', 'Helvetica Neue', Arial, sans-serif;
    color: #00aced;
    padding: 15px;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

.navbar-header>.navbar-brand:hover,
.navbar-header>.navbar-brand:focus {
    color: #d9edf7;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #181818;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #00aced;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #00aced !important;
    background-color: transparent;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }

    .navbar-header>.navbar-brand {
        color: rgba(255, 255, 255, 0.7);
        padding: 19px;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60, 60, 60, 0.7);
    }

    .navbar-default .nav>li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        border-color: rgba(34, 34, 34, .05);
        background-color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #00aced;
        padding: 20px;
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #d9edf7;
    }

    .navbar-default.affix .nav>li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.7);
    }

    .navbar-default.affix .nav>li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #00aced;
    }
}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #c9c9c9;
    background-image: url("/static/images/gta-landing-page.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

#video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

#video-background.collapsing {
    display: none;
}

footer {
    background-color: #2d2d2d;
}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }

    header {
        min-height: 50%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    section {
        min-height: 600px;
        padding: 100px 0;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
}

.form-label {
    padding: 6px 0px 0px 0px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-1-5 {
    margin-top: 1.5rem;
}

.margin-right-1 {
    margin-right: 1em;
}

.margin-top-5 {
    margin-top: 5em;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow: hidden;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44, 44, 44, .8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: transparent;
    border: 1px solid #f0f0f0;
    border-color: #f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
    border-color: #00aced;
    color: #00aced;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.margin-top-2 {
    margin-top: 2rem;
}

.signup-text {
    margin-top: 2rem;
    font-size: 18px;
}

.table-hover>tbody>tr:hover {
    background-color: #00aced;
}

.table-hover>tbody>tr.no-hover:hover {
    background-color: transparent;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-left-neg-2 {
    margin-left: -2em;
}

.details {
    position: absolute;
    margin-left: -19rem;
    margin-top: 2rem;
    border: none !important;
}

.float-right {
    float: right;
}

.font-large {
    font-size: large;
}

.font-18 {
    font-size: 18px;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.popover {
    color: black;
    width: 80%;
}

#plate {
    text-transform: uppercase;
}

#plateName {
    text-transform: uppercase;
}

#plateVeh {
    text-transform: uppercase;
}

#color {
    text-transform: capitalize;
}

#model {
    text-transform: capitalize;
}

#civ-first-name {
    text-transform: capitalize;
}

#civ-last-name {
    text-transform: capitalize;
}

#firstName {
    text-transform: capitalize;
}

#lastName {
    text-transform: capitalize;
}

#modelVeh {
    text-transform: capitalize;
}

#colorView {
    text-transform: capitalize;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    text-transform: none;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    text-transform: none;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    text-transform: none;
}

.grid__cell {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #000;
    border-bottom: 0 solid #000;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .55) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#40000000', GradientType=0);
    margin-bottom: 70px;
    margin-bottom: 7rem;
}

.grid__cell--small {
    max-width: 30%;
}

.section__content a.link--inherit,
a.link--inherit {
    color: inherit;
    text-decoration: none;
}

.grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.platform {
    display: inline-block;
    font-weight: 700;
    padding: 8px 15px;
    padding: .8rem 1.5rem;
    margin-left: 15px;
    margin-left: 1.5rem;
    margin-bottom: 30px;
    margin-bottom: 3rem;
}

.platform--ps4 {
    background-color: #41626c;
}

.platform--pc {
    background-color: #cd4534;
}

#release-header {
    top: 95%;
}

.password-check-bad {
    float: left;
    padding-top: 3.5rem;
    font-size: 1.4em;
    color: red;
}

.password-check-good {
    float: left;
    padding-top: 3.5rem;
    font-size: 1.4em;
    color: lawngreen;
}

#second::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, black, black);
    opacity: .6;

}

/* #second {
    min-height: 50%;
} */

#third::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, black, black);
    opacity: .8;
}

.padding-left-0 {
    padding-left: 0px;
}

.blue-hover:hover,
.blue-hover:focus {
    color: #5bc0de;
}

.blue-hover {
    color: black;
}

.background-transparent {
    background: transparent;
}

.plate-body-text {
    font-size: 14px;
    margin: 0;
    line-height: 1.42857143;
}

.color-red {
    color: #DE0A0A;
}

.color-alert-red {
    color: #d9534f
}

.color-green {
    color: green;
}

.color-yellow {
    color: yellow;
}

.color-black {
    color: black;
}

.color-gray {
    color: gray;
}

.color-white {
    color: white;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.font-size-1 {
    font-size: 1em;
}

.font-size-2 {
    font-size: 2em;
}

.font-size-3 {
    font-size: 3em;
}

.font-size-4 {
    font-size: 4em;
}

.font-size-5 {
    font-size: 5em;
}

.font-size-6 {
    font-size: 6em;
}

.font-size-2-vmax {
    font-size: 2vmax;
}

.font-size-4-vmax {
    font-size: 4vmax;
}

#arrest-report-case-no {
    background-color: #36333d;
}

#arrest-report-case-no:hover {
    cursor: not-allowed;
}

#reporting-officer {
    background-color: #36333d;
}

#reporting-officer:hover {
    cursor: not-allowed;
}

#serial-number {
    background-color: #36333d;
}

#serial-number:hover {
    cursor: not-allowed;
}

#serial-number-details {
    background-color: #36333d;
}

#serial-number-details:hover {
    cursor: not-allowed;
}

.font-size-3 {
    font-size: 3em;
}

.text-indent-2 {
    text-indent: 2em;
}

.margin-bottom-05 {
    margin-bottom: 0.5em
}

.disabled-color {
    color: #eee !important;
    background-color: #36333d !important;
    cursor: not-allowed;
}

#civID {
    color: #eee;
    background-color: #36333d;
}

#civIDWarning {
    color: #eee;
    background-color: #36333d;
}

#civIDArrest {
    color: #eee;
    background-color: #36333d;
}

#civIDWarrant {
    color: #eee;
    background-color: #36333d;
}

#notepad-textarea {
    color: #eee;
    background-color: #36333d;
}

/* #new-report-civilianID {
    color: #eee;
    background-color: #36333d;
} */

#warrant-select {
    color: #eee;
    background-color: #36333d;
    height: 35px;
    line-height: 1.5;
    width: 100%;
}

#warrant-civ-first-name {
    color: #eee;
    background-color: #36333d;
}

#warrant-civ-last-name {
    color: #eee;
    background-color: #36333d;
}

#warrant-civ-dob {
    color: #eee;
    background-color: #36333d;
}

#accountEmail {
    color: #eee;
    background-color: #36333d;
}

/* To fix the scrolling modal issues */
.modal {
    overflow-y: auto;
}

.diagonal-arrow {
    width: 82%;
}

.float-right {
    float: right;
}

.margin-left-1 {
    margin-left: 1em;
}

.icon {
    vertical-align: text-top;
}

.mock-disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.nav-link:hover {
    color: black;
}

.hide-button-outline {
    padding: 0 !important;
    border: none !important;
    background: none !important;
}

.path-arrow {
    margin-top: 0.2em;
    margin-left: -1em;
}

.arrow-button:hover {
    color: #337ab7;
    background-color: transparent !important;
    cursor: default;
}

.red-dot {
    height: 15px;
    width: 15px;
    background-color: #d9534f;
    border-radius: 50%;
    display: inline-block;
}

.green-dot {
    height: 15px;
    width: 15px;
    background-color: #5cb85c;
    border-radius: 50%;
    display: inline-block;
}

#scrollToTop:hover {
    text-decoration: none;
    opacity: 0.7;
    border-color: #00aced;
    color: #00aced;
}

.well-sm {
    border-radius: 50%;
}

#top-link-block.affix-top {
    position: absolute;
    /* allows it to "slide" up into view */
    bottom: -82px;
    /* negative of the offset - height of link element */
    right: 10px;
    /* padding from the left side of the window */
}

#top-link-block.affix {
    position: fixed;
    /* keeps it on the bottom once in view */
    bottom: 245px;
    /* height of link element */
    right: 10px;
    /* padding from the left side of the window */
    z-index: 3;
}

#scroll-top-block:hover,
#scroll-top-block:focus {
    color: #23527c;
    text-decoration: underline;
}

#scroll-top-block:focus {
    color: #00aced;
    text-decoration: underline;
}

#personas-table:hover {
    cursor: pointer;
}

#vehicle-table:hover {
    cursor: pointer;
}

#firearm-table:hover {
    cursor: pointer;
}

#addMedicationModal {
    z-index: 9001
        /* ITS OVER 9000!! */
}

#addConditionModal {
    z-index: 9001
        /* ITS OVER 9000!! */
}

.clickable:hover {
    cursor: pointer;

}

.facebook-logo {
    margin-right: 4em;
}

.patreon-logo {
    position: absolute;
    bottom: 10px;
    right: 6px;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

@media (max-width: 594px) {
    #map-image {
        background-image: url("/static/images/mobile-map.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 325px;
        height: 325px;
    }
}

@media (min-width: 595px) and (max-width: 995px) {
    #map-image {
        background-image: url("/static/images/desktop-map.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 565px;
        height: 800px;
    }
}

@media (min-width: 996px) {
    #map-image {
        background-image: url("/static/images/GTA-V-Custom-Postal-Code-Map.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 850px;
        height: 800px;
    }
}

.nav-user-icon {
    font-size: 2.5em;
    margin-top: -0.23em;
}

.default-person-icon {
    font-size: 6em;
}

.thumbnail-box {
    cursor: pointer;
    background: transparent;
    background-color: transparent;
}

.thumbnail-box:hover {
    background-color: #00aced;
}

.license-plate {
    font-family: car-frame;
}

.table-icon {
    vertical-align: middle;
    margin-left: 0.5em;
    font-size: 2em;
    cursor: pointer;
}

.active-icon {
    color: #00aced;
}

.inactive-icon {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

#callNotesDetail {
    background-color: #36333d;
}

#callNotesDetail:focus {
    background-color: #36333d;
    color: white;
}

a[data-toggle="collapse"] .rotate {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

a[data-toggle="collapse"].collapsed .rotate {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.background-color-222 {
    background-color: #222;
}

.topNav {
    background-color: #222;
    width: 100%;
}

.arrow {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.white-dashboard {
    background: white
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

#first {
    min-height: 100%;
}

.no-sort::after {
    display: none !important;
}

.no-sort {
    pointer-events: none !important;
    cursor: default !important;
}

#drivers-license {
    margin-bottom: 10em;
}

.drivers-license-number {
    position: absolute;
    bottom: -4px;
    left: 25px;
    font-weight: 100;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
}

.last-name-title {
    position: absolute;
    bottom: 139px;
    left: 25px;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    color: #801E46;
}

.last-name {
    position: absolute;
    bottom: 140px;
    left: 46px;
    width: 174px;
    height: 18px;
    padding: 0px;
    background: transparent;
    color: black;
    border: none;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.last-name-search {
    position: absolute;
    bottom: 144px;
    left: 46px;
    width: 174px;
    height: 18px;
    padding: 0px;
    background: transparent;
    color: black;
    border: none;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.first-name-title {
    position: absolute;
    bottom: 125px;
    left: 25px;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    color: #801E46
}

.first-name {
    position: absolute;
    bottom: 124px;
    left: 46px;
    width: 155px;
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.address {
    position: absolute;
    bottom: 87px;
    width: 170px;
    height: 40px;
    left: 26px;
    line-height: 12px;
    background: transparent;
    color: black;
    border: none;
    font-family: 'Signika', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.dob-title {
    position: absolute;
    bottom: 139px;
    left: 210px;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    color: #801E46
}

.dob {
    position: absolute;
    bottom: 138px;
    left: 237px;
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.expiration-title {
    position: absolute;
    bottom: 74px;
    left: 25px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.expiration {
    position: absolute;
    bottom: 73px;
    left: 50px;
    color: black;
    font-size: 14px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.issued-title {
    position: absolute;
    bottom: 74px;
    left: 210px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.issued {
    position: absolute;
    bottom: 73px;
    left: 235px;
    color: black;
    font-size: 14px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.sex-title {
    position: absolute;
    bottom: 58px;
    left: 25px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.sex {
    position: absolute;
    bottom: 58px;
    left: 52px;
    color: black;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.height-title {
    position: absolute;
    bottom: 46px;
    left: 25px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.height {
    position: absolute;
    bottom: 46px;
    left: 52px;
    color: black;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.weight-title {
    position: absolute;
    bottom: 34px;
    left: 25px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.weight {
    position: absolute;
    bottom: 34px;
    left: 52px;
    color: black;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.eye-title {
    position: absolute;
    bottom: 58px;
    left: 110px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.eye {
    position: absolute;
    bottom: 58px;
    left: 141px;
    color: black;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.hair-title {
    position: absolute;
    bottom: 46px;
    left: 110px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.hair {
    position: absolute;
    bottom: 46px;
    left: 140px;
    color: black;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.status-title {
    position: absolute;
    bottom: 125px;
    left: 210px;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    color: #801E46;
}

.status {
    position: absolute;
    bottom: 125px;
    left: 237px;
    background: transparent;
    border: none;
    font-family: 'Signika', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

.donor-title {
    position: absolute;
    bottom: 19px;
    left: 25px;
    color: #801E46;
    font-size: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

.veteran {
    position: absolute;
    bottom: 54px;
    left: 210px;
    color: #102959;
    font-size: 16px;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.reg-arm {
    text-transform: capitalize;
}

.flex-main {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
}

.flex-li-wrapper {
    display: inline-flex;
    /* width: 25%; */
    min-width: 25%;
    max-width: 100%;
    margin: 10px 0 0 0;
    padding: 10px;

}

.flex-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.goog-te-banner {
    top: initial;
    bottom: 0;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

/* New styles */

.home-page-wrapper p {
    padding: 0;
    margin: 0
}

.home-page-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden
}

.home-page-wrapper .home-page {
    height: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
    will-change: transform
}

.home-page-wrapper .title-wrapper>h1,
.home-page-wrapper>h1 {
    font-size: 32px;
    color: #314659;
    margin-bottom: 16px
}

.home-page-wrapper .title-wrapper {
    margin: 0 auto 64px;
    text-align: center
}

@media screen and (max-width:767px) {
    .home-page-wrapper .home-page {
        padding: 56px 24px
    }

    .home-page-wrapper .home-page>h1 {
        font-size: 24px;
        margin: 0 auto 32px
    }

    .home-page-wrapper .home-page>h1.title-h1 {
        margin-bottom: 8px
    }

    .home-page-wrapper .home-page>p {
        margin-bottom: 32px
    }
}

@media screen and (max-width:767px) {
    .header0-logo {
        z-index: 101
    }

    .header0.home-page-wrapper .home-page {
        padding: 0 24px
    }

    .header0-menu {
        height: auto;
        float: inherit;
        position: relative;
        left: -24px;
        width: calc(100% + 48px);
        opacity: 0;
        transition: opacity .3s cubic-bezier(.645, .045, .355, 1)
    }

    .header0-menu li {
        padding: 0 24px
    }

    .header0-menu li.ant-menu-submenu {
        padding: 0
    }

    .header0-menu .item-sub-item {
        padding: 8px 0
    }

    .header0-mobile-menu {
        width: 16px;
        height: 14px;
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 100
    }

    .header0-mobile-menu em {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        margin-top: 4px;
        transition: transform .3s cubic-bezier(.645, .045, .355, 1), opacity .3s cubic-bezier(.645, .045, .355, 1)
    }

    .header0-mobile-menu :first-child {
        margin-top: 0
    }

    .header0 .ant-menu {
        height: auto;
        overflow: hidden
    }

    .header0 .ant-menu .ant-menu-item-selected {
        border: none
    }

    .header0 .open {
        height: auto
    }

    .header0 .open .header0-mobile-menu em:nth-child(1) {
        transform: translateY(6px) rotate(45deg)
    }

    .header0 .open .header0-mobile-menu em:nth-child(2) {
        opacity: 0
    }

    .header0 .open .header0-mobile-menu em:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg)
    }

    .header0 .open>.header0-menu {
        opacity: 1;
        pointer-events: auto
    }

    .header0-item-block {
        height: 40px;
        line-height: 40px
    }
}

@media screen and (max-width:767px) {
    .header1-logo {
        z-index: 101
    }

    .header1.home-page-wrapper .home-page {
        padding: 0 24px
    }

    .header1 .header1-menu {
        height: auto;
        float: inherit;
        position: relative;
        left: -24px;
        width: calc(100% + 48px);
        opacity: 0;
        transition: opacity .3s cubic-bezier(.645, .045, .355, 1), height .3s cubic-bezier(.645, .045, .355, 1)
    }

    .header1-mobile-menu {
        width: 16px;
        height: 14px;
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 100
    }

    .header1-mobile-menu em {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        margin-top: 4px;
        transition: transform .3s cubic-bezier(.645, .045, .355, 1), opacity .3s cubic-bezier(.645, .045, .355, 1)
    }

    .header1-mobile-menu :first-child {
        margin-top: 0
    }

    .header1 .ant-menu {
        height: auto;
        overflow: hidden;
        width: calc(100% + 48px);
        background: #001529
    }

    .header1 .ant-menu .ant-menu-item-selected {
        border: none
    }

    .header1 .ant-menu a {
        color: #fff
    }

    .header1 .ant-menu a:hover {
        color: #fff
    }

    .header1 .ant-menu .ant-menu-item-selected a {
        color: #fff
    }

    .header1 .open {
        height: auto
    }

    .header1 .open .header1-mobile-menu em:nth-child(1) {
        transform: translateY(6px) rotate(45deg)
    }

    .header1 .open .header1-mobile-menu em:nth-child(2) {
        opacity: 0
    }

    .header1 .open .header1-mobile-menu em:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg)
    }

    .header1 .open>.header1-menu {
        opacity: 1;
        pointer-events: auto
    }
}

@media screen and (max-width:767px) {
    .header2-logo {
        z-index: 101
    }

    .header2.home-page-wrapper .home-page {
        padding: 0 24px
    }

    .header2-menu {
        height: auto;
        float: inherit;
        position: relative;
        left: -24px;
        width: calc(100% + 48px);
        opacity: 0;
        overflow: hidden;
        transition: opacity .3s cubic-bezier(.645, .045, .355, 1)
    }

    .header2-menu .menu-item {
        display: block;
        width: 100%;
        padding: 0 24px;
        border-bottom: none;
        line-height: 40px;
        height: 40px;
        margin: 4px 0 8px
    }

    .header2-menu .menu-item.active,
    .header2-menu .menu-item:hover {
        border: none;
        background: #2f54eb;
        color: #fff
    }

    .header2-mobile-menu {
        width: 16px;
        height: 14px;
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 100
    }

    .header2-mobile-menu em {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        margin-top: 4px;
        transition: transform .3s cubic-bezier(.645, .045, .355, 1), opacity .3s cubic-bezier(.645, .045, .355, 1)
    }

    .header2-mobile-menu :first-child {
        margin-top: 0
    }

    .header2 .open {
        height: auto
    }

    .header2 .open .header2-mobile-menu em:nth-child(1) {
        transform: translateY(6px) rotate(45deg)
    }

    .header2 .open .header2-mobile-menu em:nth-child(2) {
        opacity: 0
    }

    .header2 .open .header2-mobile-menu em:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg)
    }

    .header2 .open .header2-menu {
        opacity: 1;
        pointer-events: auto
    }
}

@media screen and (max-width:767px) {
    .header3-logo {
        z-index: 101
    }

    .header3.home-page-wrapper .home-page {
        padding: 0 24px
    }

    .header3-menu {
        height: auto;
        float: inherit;
        position: relative;
        left: -24px;
        width: calc(100% + 48px);
        opacity: 0;
        transition: opacity .3s cubic-bezier(.645, .045, .355, 1);
        background: #fff
    }

    .header3-menu li {
        padding: 0 24px
    }

    .header3-menu li.ant-menu-submenu {
        padding: 0
    }

    .header3-menu .item-sub-item {
        padding: 8px 0
    }

    .header3-mobile-menu {
        width: 16px;
        height: 14px;
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 100
    }

    .header3-mobile-menu em {
        display: block;
        width: 100%;
        height: 2px;
        background: #001529;
        margin-top: 4px;
        transition: transform .3s cubic-bezier(.645, .045, .355, 1), opacity .3s cubic-bezier(.645, .045, .355, 1)
    }

    .header3-mobile-menu :first-child {
        margin-top: 0
    }

    .header3 .ant-menu {
        height: auto;
        overflow: hidden
    }

    .header3 .ant-menu .ant-menu-item-selected {
        border: none
    }

    .header3 .open {
        height: auto
    }

    .header3 .open .header3-mobile-menu em:nth-child(1) {
        transform: translateY(6px) rotate(45deg)
    }

    .header3 .open .header3-mobile-menu em:nth-child(2) {
        opacity: 0
    }

    .header3 .open .header3-mobile-menu em:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg)
    }

    .header3 .open>.header3-menu {
        opacity: 1;
        pointer-events: auto
    }

    .header3-item-block {
        height: 40px;
        line-height: 40px
    }
}

.content8-wrapper.home-page-wrapper {
    overflow: initial;
    width: calc(100% - 112px);
    min-height: 878px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 32px 32px rgba(34, 94, 222, .08);
    background: #fff
}

.content8-wrapper.home-page-wrapper .home-page {
    margin-top: -220px;
    padding: 64px 24px;
    overflow: hidden
}

@media screen and (max-width:767px) {
    .content8-wrapper.home-page-wrapper {
        padding-bottom: 0;
        box-shadow: none;
        width: 100%
    }

    .content8-wrapper.home-page-wrapper .content8.home-page {
        margin: auto;
        padding-bottom: 0
    }

    .content8-wrapper.home-page-wrapper .content-wrapper .content8-block {
        max-width: 240px
    }
}

.content9-wrapper.home-page-wrapper {
    overflow: initial
}

.content11-wrapper.home-page-wrapper .title-wrapper {
    margin-bottom: 32px
}

.content13-wrapper.home-page-wrapper .title-wrapper {
    margin-bottom: 32px
}

.pricing1-wrapper.home-page-wrapper .pricing1-title-wrapper {
    margin-bottom: 64px;
    text-align: center
}

.pricing2-wrapper.home-page-wrapper .pricing2-title-wrapper {
    margin-bottom: 64px;
    text-align: center
}

.feature6-wrapper.home-page-wrapper .home-page {
    padding: 64px 24px
}

@media screen and (max-width:767px) {
    .feature6-wrapper {
        padding-bottom: 0;
        min-height: 580px
    }

    .feature6-wrapper.home-page-wrapper .home-page {
        padding: 56px 24px 64px
    }

    .feature6-title-text {
        margin: 0 14px
    }

    .feature6-title-bar {
        width: 40%
    }

    .feature6-number-wrapper {
        margin-bottom: 16px
    }
}

.feature7-wrapper.home-page-wrapper .home-page {
    padding: 64px 24px
}

@media screen and (max-width:767px) {
    .feature7-wrapper {
        min-height: 1540px
    }

    .feature7-wrapper.home-page-wrapper .home-page {
        padding: 56px 24px
    }
}

.feature8-wrapper.home-page-wrapper .home-page {
    padding: 64px 24px
}

@media screen and (max-width:767px) {
    .feature8-wrapper {
        padding-bottom: 0;
        min-height: 1540px
    }

    .feature8-wrapper.home-page-wrapper .home-page {
        padding: 56px 24px 64px
    }

    .feature8-carousel-title {
        font-size: 16px
    }

    .feature8-carousel-title-block {
        padding: 0 8px
    }

    .feature8-block-child {
        width: 80%;
        margin: auto;
        background-color: #f6f9ff;
        box-shadow: 0 12px 36px rgba(100, 100, 136, .15)
    }

    .feature8-block-content {
        text-align: center
    }

    .feature8-block-arrow {
        bottom: -40px;
        top: auto;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(90deg)
    }
}

.footer1-wrapper {
    background: #001529;
    overflow: hidden;
    position: relative;
    min-height: 360px;
    color: #999
}

.footer1-wrapper .footer1 .home-page {
    padding: 64px 24px 80px
}

.footer1-wrapper .block {
    padding: 0 32px
}





.footer1-wrapper .block>h2 {
    margin-bottom: 24px;
    color: #ccc
}

.footer1-wrapper .block a {
    color: #999;
    margin-bottom: 12px;
    float: left;
    clear: both
}

.footer1-wrapper .block a:hover {
    color: #2f54eb
}

.footer1-wrapper .copyright-wrapper {
    width: 100%;
    border-top: 1px solid rgba(233, 233, 233, .1)
}

.footer1-wrapper .copyright-wrapper .home-page {
    padding: 0 24px;
    overflow: hidden
}

.footer1-wrapper .copyright-wrapper .copyright {
    height: 80px;
    text-align: center;
    line-height: 80px
}



.ant-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.ant-row::before,
.ant-row::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.ant-row-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.ant-row-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ant-row-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.ant-row-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.ant-row-space-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.ant-row-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.ant-row-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.ant-row-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.ant-row-rtl {
    direction: rtl
}

.home-page {
    padding: 128px 24px
}

.header0 .home-page {
    padding: 0 24px
}

.header1 .home-page {
    padding: 0 24px
}

.header2 .home-page {
    padding: 0 24px
}

.header3 .home-page {
    padding: 0 24px
}

@media screen and (max-width:767px) {
    .banner4 {
        height: 500px
    }

    .banner4 .banner4-page.home-page {
        padding-top: 1px;
        padding-bottom: 0
    }

    .banner4-title-wrapper {
        margin-top: 96px
    }

    .banner4-title {
        font-size: 3em
    }

    .banner4-image {
        width: 100%;
        padding: 0 24px
    }
}

@media screen and (max-width:767px) {
    .banner5 {
        min-height: 500px
    }

    .banner5 .banner5-page.home-page {
        padding-top: 1px;
        padding-bottom: 0
    }

    .banner5-title-wrapper {
        text-align: center;
        position: static;
        width: 100%;
        margin-top: 64px;
        left: 0;
        top: 0
    }

    .banner5-title {
        font-size: 32px
    }

    .banner5-explain {
        font-size: 18px
    }

    .banner5-content {
        font-size: 14px
    }

    .banner5-image {
        position: static;
        width: 100%;
        top: 0;
        right: 0;
        margin: 32px 0 24px
    }
}

@media screen and (max-width:767px) {
    .teams2-wrapper {
        min-height: 1440px
    }

    .teams2-wrapper .teams2.home-page {
        padding-bottom: 0
    }
}

@media screen and (max-width:767px) {
    .teams3-wrapper {
        min-height: 1440px
    }

    .teams3-wrapper .teams3.home-page {
        padding-bottom: 0
    }
}

@media screen and (max-width:767px) {
    .footer0-wrapper .footer0 {
        font-size: 12px
    }

    .footer0-wrapper .footer0.home-page {
        padding: 0
    }

    .footer0-wrapper .footer0>div {
        width: 90%;
        margin: auto
    }
}

@media screen and (max-width:767px) {
    .footer2-wrapper .footer2 {
        font-size: 12px
    }

    .footer2-wrapper .footer2.home-page {
        padding: 0
    }

    .footer2-wrapper .footer2>div {
        width: 90%;
        margin: auto
    }
}

.ant-col {
    position: relative;
    max-width: 100%;
    min-height: 1px
}

.content5-wrapper .content5-img-wrapper .block {
    margin-bottom: 24px
}

.content5-wrapper .content5-img-wrapper .block .content5-block-content {
    display: block;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #e9e9e9;
    transform: translateY(0);
    transition: transform .3s cubic-bezier(.215, .61, .355, 1), box-shadow .3s cubic-bezier(.215, .61, .355, 1);
    border: none;
    color: #314659;
    transition: box-shadow .3s cubic-bezier(.215, .61, .355, 1), transform .3s cubic-bezier(.215, .61, .355, 1)
}

.content5-wrapper .content5-img-wrapper .block .content5-block-content:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, .15);
    transform: translateY(-5px)
}

.content5-wrapper .content5-img-wrapper .block .content5-block-content>span {
    width: 100%;
    height: 160px;
    display: block;
    background: #e9e9e9;
    padding: 5%
}

.content5-wrapper .content5-img-wrapper .block .content5-block-content p {
    width: 100%;
    line-height: 30px
}

.content5-wrapper .content5-img-wrapper .block .content5-block-content:hover p {
    bottom: 0
}

.content12-wrapper .img-wrapper .block {
    margin-bottom: 40px
}

.content12-wrapper .img-wrapper .block .block-content {
    display: flex;
    border-radius: 4px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: none;
    height: 64px;
    align-items: center;
    transition: box-shadow .3s cubic-bezier(.215, .61, .355, 1), transform .3s cubic-bezier(.215, .61, .355, 1)
}

.content12-wrapper .img-wrapper .block .block-content>span {
    width: 100%;
    display: block
}

@media screen and (max-width:767px) {
    .content12-wrapper {
        overflow: hidden
    }

    .content12-wrapper .content12 ul li {
        display: block;
        width: 100%;
        padding: 2%
    }

    .content12-wrapper .content12 ul li span {
        height: 168px
    }
}

.teams1-wrapper .teams1 .block-wrapper .block {
    display: inline-block;
    text-align: center;
    margin-bottom: 48px
}

.teams2-wrapper .teams2 .block-wrapper .block {
    margin-bottom: 48px;
    vertical-align: text-top
}

.teams3-wrapper .teams3 .block-wrapper .block {
    margin-bottom: 48px;
    vertical-align: text-top
}

.ant-col-xs-24 {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.ant-col-md-6 {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

@media screen and (max-width:414px) {
    .banner2-text-wrapper {
        width: 90%;
        left: 0;
        margin: auto;
        padding: 0;
        text-align: center;
        display: block
    }

    .banner2-text-wrapper .logo {
        width: 90%;
        left: 0
    }
}

.footer1-wrapper .block .logo {
    max-width: 180px
}

@media screen and (max-width:767px) {
    .footer1 {
        min-height: 550px
    }

    .footer1-wrapper .footer1 .home-page {
        padding: 64px 24px 32px
    }

    .footer1 .logo {
        margin: 0 auto 24px
    }

    .footer1 .block {
        text-align: center;
        margin-bottom: 32px;
        padding: 0
    }

    .footer1>ul {
        width: 90%;
        margin: 20px auto 0;
        padding: 10px 0
    }

    .footer1>ul>li {
        width: 100%
    }

    .footer1>ul>li h2 {
        margin-bottom: 10px
    }

    .footer1>ul>li li {
        display: inline-block;
        margin-right: 10px
    }

    .footer1 .copyright-wrapper .home-page {
        padding: 0
    }

    .footer1 .copyright-wrapper .home-page .copyright {
        font-size: 12px
    }

    .footer1 .copyright span {
        width: 90%
    }
}

.banner3 .banner3-slogan {
    font-size: 68px;
    line-height: 80px;
    text-indent: 2px;
    font-weight: 600;
    margin: 26px auto 38px;
    overflow: hidden
}

@media screen and (max-width:767px) {
    .banner3 {
        background-attachment: inherit
    }

    .banner3 .banner3-text-wrapper {
        width: 90%;
        height: 50%
    }

    .banner3 .banner3-name-en {
        font-size: 12px
    }

    .banner3 .banner3-slogan {
        font-size: 24px;
        line-height: 1.5;
        margin: 12px 0
    }

    .banner3 .banner3-name {
        font-size: 14px
    }
}

.footer1-wrapper .block .slogan {
    font-size: 12px;
    margin-top: -20px
}

.footer2-wrapper .copyright {
    float: right
}

.footer2-wrapper .copyright>* {
    display: inline-block
}

.footer2-wrapper .copyright-logo {
    width: 16px;
    margin-right: 8px
}

.footer2-wrapper .copyright-logo img {
    width: 100%
}

.footer2-wrapper .copyright-line {
    padding: 0 12px;
    margin: 0 12px
}

/* checkpoint */

#next-civ-page-btn {
    color: white;
    background: transparent;
    cursor: pointer;
}

#next-civ-page-btn:hover {
    color: white;
    background-color: #00aced;
    cursor: pointer;
}

#prev-civ-page-btn {
    color: white;
    background: transparent;
    cursor: pointer;
}

#prev-civ-page-btn:hover {
    color: white;
    background-color: #00aced;
    cursor: pointer;
}

#next-veh-page-btn {
    color: white;
    background: transparent;
    cursor: pointer;
}

#next-veh-page-btn:hover {
    color: white;
    background-color: #00aced;
    cursor: pointer;
}

#prev-veh-page-btn {
    color: white;
    background: transparent;
    cursor: pointer;
}

#prev-veh-page-btn:hover {
    color: white;
    background-color: #00aced;
    cursor: pointer;
}

#next-gun-page-btn {
    color: white;
    background: transparent;
    cursor: pointer;
}

#next-gun-page-btn:hover {
    color: white;
    background-color: #00aced;
    cursor: pointer;
}

#prev-gun-page-btn {
    color: white;
    background: transparent;
    cursor: pointer;
}

#prev-gun-page-btn:hover {
    color: white;
    background-color: #00aced;
    cursor: pointer;
}

.isDisabled {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
}

.isDisabled>a {
    color: currentColor !important;
    display: inline-block !important;
    /* For IE11/ MS Edge bug */
    pointer-events: none !important;
    text-decoration: none !important;
}

a[aria-disabled="true"] {
    color: currentColor !important;
    display: inline-block !important;
    /* For IE11/ MS Edge bug */
    pointer-events: none !important;
    text-decoration: none !important;
}

.modal-dialog-full-screen {
    width: 88%;
    height: 88%;
    /* margin: 0; */
    /* padding: 0; */
}

.modal-content-full-screen {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

#civilian-image {
    font-size: 12em;
    border-color: white;
    border-width: thin;
    border-style: solid;
    border-radius: 20px;
}

.margin-left-neg-15 {
    margin-left: -15px
}